---
import Base from "@layouts/Base.astro";

export async function getStaticPaths() {
	return ["astro-compress", "astro-critters", "astro-rome"].map((slug) => ({
		params: { slug },
	}));
}

const slug =
	typeof Astro.params["slug"] === "string" ? Astro.params["slug"] : "";

const Readme = await import(`@pages/raw/readmes/${slug}/index.astro`);
---

<Base>
	<style is:global>
		@import "github-markdown-css";
	</style>
	<div class="container">
		<div class="markdown-body">
			<Readme />
		</div>
	</div>
</Base>
