---
import Heading from "@Component/Readme/Heading.astro";
import Row from "@Component/Readme/Row.astro";
---

<>
	<table>
		<Heading
			DarkIcon="https://nikolahristov.tech/Image/GitHub/DarkAstro.svg"
			LightIcon="https://nikolahristov.tech/Image/GitHub/LightAstro.svg"
			Text="Related:"
			AltIcon="Astro"
		/>

		<Row
			Package={new Set([
				{
					"NPM:@playform/compress": {
						Name: "Compress.",
					},
				},
				{
					"NPM:@playform/format": {
						Name: "Format.",
					},
				},
			])}
		/>
	</table>
</>
