---
import Heading from "@Component/Readme/Heading.astro";
import Row from "@Component/Readme/Row.astro";

const Readme = (
	await import("@Page/Raw/Readme/PlayForm/Inline/README.md")
).rawContent();
---

<>
	<table>
		<Heading
			DarkIcon="https://playform.cloud/Dark/Image/GitHub/Astro.svg"
			LightIcon="https://playform.cloud/Image/GitHub/Astro.svg"
			Text="Related —"
			AltIcon="Astro"
		/>

		<Row
			Package={new Set([
				"NPM:@playform/compress",
				"NPM:@playform/format",
			])}
		/>
	</table>

	<Fragment set:html={Readme} />
</>
