---
import PackagesRow from "@Component/Readme/PackagesRow.astro";
import RelatedHeader from "@Component/Readme/RelatedHeader.astro";
import type { PackageCell } from "@Option/Cell.js";
---

<>
	<RelatedHeader />
	<table>
		<PackagesRow
			Packages={new Set<PackageCell>([
				"NPM:astro-compress",
				"NPM:astro-rome",
			])}
		/>
	</table>
</>
