---
import Package from "@Component/Readme/Package.astro";
import Related from "@Component/Readme/Related.astro";
import type { PackageCell } from "@Option/Cell.js";
---

<>
	<table>
		<Related />
		<Package
			Packages={new Set<PackageCell>([
				"NPM:astro-compress",
				"NPM:astro-rome",
			])}
		/>
	</table>
</>
