---
import Heading from "@Component/Readme/Heading.astro";
import Row from "@Component/Readme/Row.astro";
---

<>
	<table>
		<Heading Emoji="🌄" Text="Code Editor Land:" />
		<Row
			Packages={new Set([
				"GitHub:CodeEditorLand/Foundation",
				"GitHub:CodeEditorLand/Editor",
				{
					"GitHub:CodeEditorLand/FoundationLandCargo": {
						Name: "Cargo",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationLandNPM": {
						Name: "NPM",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationLandComponent": {
						Name: "Component",
					},
				},
			])}
		/>
	</table>
	<table>
		<Heading
			LightIcon="https://nikolahristov.tech/Image/GitHub/Tauri-Glyph-Color.svg"
			DarkIcon="https://nikolahristov.tech/Image/GitHub/Tauri-Glyph-Color.svg"
			Text="Tauri:"
		/>
		<Row
			Packages={new Set([
				"GitHub:CodeEditorLand/FoundationTauri",
				{
					"GitHub:CodeEditorLand/FoundationTauriCargo": {
						Name: "Cargo",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationTauriNPM": {
						Name: "NPM",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationTauriComponent": {
						Name: "Component",
					},
				},
			])}
		/>
	</table>
</>
