---
import Heading from "@Component/Readme/Heading.astro";
import Row from "@Component/Readme/Row.astro";
---

<>
	<table>
		<Heading Emoji="ðŸï¸" Text="Code Editor Land:" />
		<Row
			Packages={new Set([
				"GitHub:CodeEditorLand/Foundation",
				"GitHub:CodeEditorLand/Editor",
				{
					"GitHub:CodeEditorLand/FoundationLandCargo": {
						Name: "Cargo",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationLandNPM": {
						Name: "NPM",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationLandService": {
						Name: "Service",
					},
				},
			])}
		/>
	</table>
	<table>
		<Heading
			LightIcon="HTTPS://NikolaHristov.Tech/Image/GitHub/Tauri-Glyph-Color.svg"
			DarkIcon="HTTPS://NikolaHristov.Tech/Image/GitHub/Tauri-Glyph-Color.svg"
			Text="Tauri:"
		/>
		<Row
			Packages={new Set([
				{
					"GitHub:CodeEditorLand/FoundationTauri": {
						Name: "Tauri",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationTauriCargo": {
						Name: "Cargo",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationTauriNPM": {
						Name: "NPM",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationTauriService": {
						Name: "Service",
					},
				},
			])}
		/>
	</table>
	<table>
		<Heading
			LightIcon="HTTPS://NikolaHristov.Tech/Image/GitHub/OXC-Logo-Square.png"
			DarkIcon="HTTPS://NikolaHristov.Tech/Image/GitHub/OXC-Logo-Square.png"
			Text="OXC:"
		/>
		<Row
			Packages={new Set([
				{
					"GitHub:CodeEditorLand/FoundationOXC": {
						Name: "OXC",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationOXCCargo": {
						Name: "Cargo",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationOXCNPM": {
						Name: "NPM",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationOXCService": {
						Name: "Service",
					},
				},
			])}
		/>
	</table>
</>
