---
import Heading from "@Component/Readme/Heading.astro";
import Row from "@Component/Readme/Row.astro";
---

<>
	<a
		href="https://app.fossa.com/projects/git%2Bgithub.com%2FCodeEditorLand%2FFoundation?ref=badge_small"
		><img
			src="https://app.fossa.com/api/projects/git%2Bgithub.com%2FCodeEditorLand%2FFoundation.svg?type=small"
			alt="FOSSA Status"
		/></a
	>

	<table>
		<Heading
			LightIcon="https://nikolahristov.tech/Image/GitHub/Land-Logo.svg"
			DarkIcon="https://nikolahristov.tech/Image/GitHub/Land-Logo.svg"
			Text="Land:"
		/>

		<Row
			Package={new Set([
				"GitHub:CodeEditorLand/Foundation",
				"GitHub:CodeEditorLand/Editor",
				{
					"GitHub:CodeEditorLand/FoundationLandCargo": {
						Name: "Cargo",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationLandNPM": {
						Name: "NPM",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationLandService": {
						Name: "Service",
					},
				},
			])}
		/>
	</table>

	<table>
		<Heading
			DarkIcon="https://nikolahristov.tech/Image/GitHub/Tauri-Glyph-Color.svg"
			LightIcon="https://nikolahristov.tech/Image/GitHub/Tauri-Glyph-Color.svg"
			Text="Tauri:"
		/>

		<Row
			Package={new Set([
				{
					"GitHub:CodeEditorLand/FoundationTauri": {
						Name: "Tauri",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationTauriCargo": {
						Name: "Cargo",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationTauriNPM": {
						Name: "NPM",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationTauriService": {
						Name: "Service",
					},
				},
			])}
		/>
	</table>

	<table>
		<Heading
			DarkIcon="https://nikolahristov.tech/Image/GitHub/OXC-Logo-Square.png"
			LightIcon="https://nikolahristov.tech/Image/GitHub/OXC-Logo-Square.png"
			Text="OXC:"
		/>

		<Row
			Package={new Set([
				{
					"GitHub:CodeEditorLand/FoundationOXC": {
						Name: "OXC",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationOXCCargo": {
						Name: "Cargo",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationOXCNPM": {
						Name: "NPM",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationOXCService": {
						Name: "Service",
					},
				},
			])}
		/>
	</table>

	<a
		href="https://fossa.app/projects/git%2Bgithub.com%2FCodeEditorLand%2FFoundation?ref=badge_large&issueType=license"
		><img
			src="https://fossa.app/api/projects/git%2Bgithub.com%2FCodeEditorLand%2FFoundation.svg?type=large&issueType=license"
			alt="FOSSA Status"
		/></a
	>
</>
