---
import Heading from "@Component/Readme/Heading.astro";
import Row from "@Component/Readme/RowVertical.astro";
---

<>
	<table>
		<Heading Emoji="ðŸœï¸" Text="Related" />
		<Row
			Packages={new Set([
				"GitHub:CodeEditorLand/Cargo",
				"GitHub:CodeEditorLand/EnvironmentLand",
				"GitHub:CodeEditorLand/NPM",
			])}
		/>
	</table>
</>
