---
import Heading from "@Component/Readme/Heading.astro";
import Row from "@Component/Readme/Row.astro";
---

<>
	<table>
		<Heading
			DarkIcon="https://nikolahristov.tech/Image/GitHub/Biome.svg"
			LightIcon="https://nikolahristov.tech/Image/GitHub/Biome.svg"
			Text="Biome:"
		/>

		<Row
			Package={new Set([
				{
					"GitHub:CodeEditorLand/FoundationBiome": {
						Name: "Biome.",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationBiomeCargo": {
						Name: "Cargo.",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationBiomeNPM": {
						Name: "NPM.",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationBiomeService": {
						Name: "Service.",
					},
				},
			])}
		/>
	</table>
</>
