---
import Heading from "@Component/Readme/Heading.astro";
import Row from "@Component/Readme/Row.astro";
---

<>
	<table>
		<Heading
			DarkIcon="https://nikolahristov.tech/Dark/Image/GitHub/Land.svg"
			LightIcon="https://nikolahristov.tech/Image/GitHub/Land.svg"
			Text="Land:"
		/>

		<Row
			Package={new Set([
				{
					"GitHub:CodeEditorLand/Foundation": {
						Name: "Foundation.",
					},
				},
				{
					"GitHub:CodeEditorLand/Editor": {
						Name: "Editor.",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationLandCargo": {
						Name: "Cargo.",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationLandNPM": {
						Name: "NPM.",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationLandService": {
						Name: "Service.",
					},
				},
			])}
		/>
	</table>
</>
