---
import Heading from "@Component/Readme/Heading.astro";
import Row from "@Component/Readme/Row.astro";
---

<>
	<table>
		<Heading
			DarkIcon="https://nikolahristov.tech/Dark/Image/GitHub/Land.svg"
			LightIcon="https://nikolahristov.tech/Image/GitHub/Land.svg"
			Text="Land:"
		/>

		<Row
			Package={new Set([
				"GitHub:CodeEditorLand/Foundation",
				"GitHub:CodeEditorLand/Editor",
				"GitHub:CodeEditorLand/FoundationLandCargo",
				"GitHub:CodeEditorLand/FoundationLandNPM",
				"GitHub:CodeEditorLand/FoundationLandService",
			])}
		/>
	</table>
</>
