---
import Heading from "@Component/Readme/Heading.astro";
import Row from "@Component/Readme/Row.astro";
---

<>
	<table>
		<Heading
			DarkIcon="https://nikolahristov.tech/Image/GitHub/OXC.png"
			LightIcon="https://nikolahristov.tech/Image/GitHub/OXC.png"
			Text=" OXC —"
		/>

		<Row
			Package={new Set([
				"GitHub:CodeEditorLand/FoundationOXC",
				"GitHub:CodeEditorLand/FoundationOXCCargo",
				"GitHub:CodeEditorLand/FoundationOXCNPM",
				"GitHub:CodeEditorLand/FoundationOXCService",
			])}
		/>
	</table>
</>
