---
import Heading from "@Component/Readme/Heading.astro";
import Row from "@Component/Readme/Row.astro";

import type { PackageCell } from "@Option/Cell.js";

const Packages = Astro.props["Packages"] ?? new Map<string, Set<PackageCell>>();

Packages.set(
	"Project",
	new Set<PackageCell>([
		"NPM:files-pipe",
		"NPM:deploymentdelete",
		"GitHub:AstroStarter/PACStack",
		"cargo:innkeeper",
		"GitHub:RoundedCorners/Application",
	])
);

Packages.set(
	"Astro",
	new Set<PackageCell>([
		"NPM:astro-compress",
		// "NPM:astro-convert",
		"NPM:astro-critters",
		// "NPM:astro-dashboard",
		// "NPM:astro-dead-links",
		// "NPM:astro-networks",
		"NPM:astro-rome",
		// "NPM:astro-short-urls",
		// "NPM:AstroStarter-template",
	])
);

Packages.set("NPM", new Set<PackageCell>(["NPM:typescript-esbuild"]));

Packages.set(
	"Dot",
	new Set<PackageCell>([
		"GitHub:NikolaRHristov/dot",
		"GitHub:NikolaRHristov/nvim",
		"GitHub:NikolaRHristov/.oh-my-bash",
		"GitHub:NikolaRHristov/.oh-my-posh",
		"GitHub:NikolaRHristov/.oh-my-zsh",
	])
);

Packages.set(
	"GitHub",
	new Set<PackageCell>([
		"NPM:@yesmaintain/script",
		// "NPM:github-history-slider",
	])
);
---

<>
	<h1>
		<a href="https://holopin.io/@nikola" target="_blank"
			><img
				alt="@nikola's Holopin board"
				src="https://holopin.io/api/user/board?user=nikola"
			/>
		</a>
	</h1>

	<table>
		<Heading Text="Project" Emoji="🔥" />
		<Row Package={Packages.get("Project")} />
	</table>

	<table>
		<Heading
			Text="Astro"
			DarkIcon="https://raw.githubusercontent.com/astro-community/AstroCompress/main/.github/Image/DarkAstro.svg"
			LightIcon="https://raw.githubusercontent.com/astro-community/AstroCompress/main/.github/Image/LightAstro.svg"
			AltIcon="Astro"
		/>

		<Row Package={Packages.get("Astro")} />
	</table>

	<table>
		<Heading
			Text="NPM"
			DarkIcon="https://raw.githubusercontent.com/npm/logos/master/npm%20square/n.svg"
			AltIcon="NPM"
		/>

		<Row Package={Packages.get("NPM")} />
	</table>

	<table>
		<Heading
			Text="Dotfiles"
			DarkIcon="https://raw.githubusercontent.com/jglovier/dotfiles-logo/master/dotfiles-logo-icon.png"
			AltIcon="Dotfiles"
		/>

		<Row Package={Packages.get("Dot")} />
	</table>

	<table>
		<Heading
			Text="GitHub"
			DarkIcon="https://raw.githubusercontent.com/NikolaRHristov/NikolaRHristov/main/.github/Image/GitHub-Mark-Light-32px.png"
			LightIcon="https://raw.githubusercontent.com/NikolaRHristov/NikolaRHristov/main/.github/Image/GitHub-Mark-32px.png"
			AltIcon="GitHub"
		/>
		<Row Package={Packages.get("GitHub")} />
	</table>
</>
