---
import PackagesRow from "@Component/Readme/Package.astro";
import type { PackageCell } from "@Option/Cell.js";

const Packages = Astro.props["Packages"] ?? new Map<string, Set<PackageCell>>();

Packages.set(
	"Project",
	new Set<PackageCell>([
		"NPM:files-pipe",
		"NPM:deploymentdelete",
		"GitHub:AstroStarter/pac-stack",
		"cargo:innkeeper",
		"GitHub:RoundedCorners/app",
	])
);

Packages.set(
	"Astro",
	new Set<PackageCell>([
		"NPM:astro-compress",
		// "NPM:astro-convert",
		"NPM:astro-critters",
		// "NPM:astro-dashboard",
		// "NPM:astro-dead-links",
		// "NPM:astro-networks",
		"NPM:astro-rome",
		// "NPM:astro-short-urls",
		// "NPM:AstroStarter-template",
	])
);

Packages.set("NPM", new Set<PackageCell>(["NPM:typescript-esbuild"]));

Packages.set(
	"Dot",
	new Set<PackageCell>([
		"GitHub:NikolaRHristov/dot",
		"GitHub:NikolaRHristov/nvim",
		"GitHub:NikolaRHristov/.oh-my-bash",
		"GitHub:NikolaRHristov/.oh-my-posh",
		"GitHub:NikolaRHristov/.oh-my-zsh",
	])
);

Packages.set(
	"GitHub",
	new Set<PackageCell>([
		"GitHub:YesMaintenance/scripts",
		// "NPM:github-history-slider",
	])
);
---

<>
	<h1>
		<a href="https://holopin.io/@nikola" target="_blank"
			><img
				alt="@nikola's Holopin board"
				src="https://holopin.io/api/user/board?user=nikola"
			/>
		</a>
	</h1>

	<table>
		<tr>
			<td colspan="4">
				<center>
					<Fragment set:html={`<h2 align="center">`} />

					🔥 <p>Project</p>

					<Fragment set:html={`</h2>`} />
				</center>
			</td>
		</tr>
		<PackagesRow Packages={Packages.get("Project")} />
	</table>

	<table>
		<tr>
			<td colspan="4">
				<center>
					<Fragment set:html={`<h2 align="center">`} />

					<picture
						><source
							media="(prefers-color-scheme: dark)"
							srcset="https://raw.githubusercontent.com/astro-community/AstroCompress/main/.github/Image/DarkAstro.svg"
						/><source
							media="(prefers-color-scheme: light)"
							srcset="https://raw.githubusercontent.com/astro-community/AstroCompress/main/.github/Image/LightAstro.svg"
						/><img
							width="25"
							alt="Astro"
							src="https://raw.githubusercontent.com/astro-community/AstroCompress/main/.github/Image/LightAstro.svg"
						/>
					</picture>

					<p>Astro</p>

					<Fragment set:html={`</h2>`} />
				</center>
			</td>
		</tr>
		<PackagesRow Packages={Packages.get("Astro")} />
	</table>

	<table>
		<tr>
			<td colspan="4">
				<center>
					<Fragment set:html={`<h2 align="center">`} />

					<picture
						><source
							media="(prefers-color-scheme: dark)"
							srcset="https://raw.githubusercontent.com/npm/logos/master/npm%20square/n.svg"
						/><source
							media="(prefers-color-scheme: light)"
							srcset="https://raw.githubusercontent.com/npm/logos/master/npm%20square/n.svg"
						/>
						<img
							src="https://raw.githubusercontent.com/npm/logos/master/npm%20square/n.svg"
							width="22"
							alt="NPM"
						/></picture
					>

					<p>NPM</p>

					<Fragment set:html={`</h2>`} />
				</center>
			</td>
		</tr>
		<PackagesRow Packages={Packages.get("NPM")} />
	</table>

	<table>
		<tr>
			<td colspan="4">
				<center>
					<Fragment set:html={`<h2 align="center">`} />

					<img
						src="https://raw.githubusercontent.com/jglovier/dotfiles-logo/master/dotfiles-logo-icon.png"
						width="16"
						alt="Dotfiles"
					/>

					<p>Dotfiles</p>

					<Fragment set:html={`</h2>`} />
				</center>
			</td>
		</tr>
		<PackagesRow Packages={Packages.get("Dot")} />
	</table>

	<table>
		<tr>
			<td colspan="4">
				<center>
					<Fragment set:html={`<h2 align="center">`} />

					<picture
						><source
							media="(prefers-color-scheme: dark)"
							srcset="https://raw.githubusercontent.com/NikolaRHristov/NikolaRHristov/main/.github/Image/GitHub-Mark-Light-32px.png"
						/><source
							media="(prefers-color-scheme: light)"
							srcset="https://raw.githubusercontent.com/NikolaRHristov/NikolaRHristov/main/.github/Image/GitHub-Mark-32px.png"
						/><img
							width="25"
							alt="GitHub"
							src="https://raw.githubusercontent.com/NikolaRHristov/NikolaRHristov/main/.github/Image/GitHub-Mark-32px.png"
						/>
					</picture>

					<p>GitHub</p>

					<Fragment set:html={`</h2>`} />
				</center>
			</td>
		</tr>
		<PackagesRow Packages={Packages.get("GitHub")} />
	</table>

	<a href="https://app.daily.dev/nikolahristov" target="_blank"
		><img
			src="https://raw.githubusercontent.com/NikolaRHristov/NikolaRHristov/main/devcard.svg?rev=hs3VsNVqDK"
			width="400"
			alt="Nikola's Dev Card"
		/>
	</a>
</>
