---
import type Cell from "@Type/Cell.js";

import Heading from "@Component/Readme/Heading.astro";
import Row from "@Component/Readme/Row.astro";
---

<>
	<h1>
		<a href="https://holopin.io/@nikola" target="_blank"
			><img
				alt="@nikola's Holopin board"
				src="https://holopin.io/api/user/board?user=nikola"
			/>
		</a>
	</h1>

	<table>
		<Heading Text="Project:" Emoji="🔥" />
		<Row
			Packages={new Set<Cell>([
				{
					"NPM:files-pipe": {
						Name: "Files Pipe",
					},
				},
				{
					"NPM:deployment-delete": {
						Name: "Deployment Delete",
					},
				},
				"GitHub:AstroStarter/PAC-STAC",
				{
					"cargo:innkeeper": {
						Name: "Inn",
					},
				},
				{
					"GitHub:RoundedCorners/Application": {
						Name: "Rounded Corners",
					},
				},
			])}
		/>
	</table>

	<table>
		<Heading Text="Code Editor Land:" Emoji="🌄" />
		<Row
			Packages={new Set([
				"GitHub:CodeEditorLand/Foundation",
				"GitHub:CodeEditorLand/Editor",
				{
					"GitHub:CodeEditorLand/FoundationLandCargo": {
						Name: "Cargo",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationLandNPM": {
						Name: "NPM",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationLandService": {
						Name: "Service",
					},
				},
			])}
		/>
	</table>

	<table>
		<Heading
			Text="Astro:"
			DarkIcon="https://raw.githubusercontent.com/Playform/AstroCompress/main/.github/Image/DarkAstro.svg"
			LightIcon="https://raw.githubusercontent.com/Playform/AstroCompress/main/.github/Image/LightAstro.svg"
			AltIcon="Astro"
		/>
		<Row
			Packages={new Set<Cell>([
				{
					"NPM:astro-compress": {
						Name: "Compress",
					},
				},
				// "NPM:astro-convert",
				{
					"NPM:astro-critters": {
						Name: "Critters",
					},
				},
				// "NPM:astro-dashboard",
				// "NPM:astro-dead-links",
				// "NPM:astro-networks",
				{
					"NPM:astro-rome": {
						Name: "Rome",
					},
				},
				{
					"NPM:astro-biome": {
						Name: "Biome",
					},
				},
				// "NPM:astro-short-urls",
				{
					"GitHub:Playform/AstroStarterTemplate": {
						Name: "Astro Starter Template",
					},
				},
			])}
		/>
	</table>

	<table>
		<Heading
			Text="NPM:"
			DarkIcon="https://raw.githubusercontent.com/npm/logos/master/npm%20square/n.svg"
			AltIcon="NPM"
		/>
		<Row Packages={new Set<Cell>(["NPM:typescript-esbuild"])} />
	</table>

	<table>
		<Heading
			Text="GitHub:"
			DarkIcon="https://raw.githubusercontent.com/NikolaRHristov/NikolaRHristov/main/.github/Image/GitHub-Mark-Light-32px.png"
			LightIcon="https://raw.githubusercontent.com/NikolaRHristov/NikolaRHristov/main/.github/Image/GitHub-Mark-32px.png"
			AltIcon="GitHub"
		/>
		<Row
			Packages={new Set<Cell>([
				{
					"NPM:@yesmaintain/cli": {
						Name: "Maintain",
					},
				},
				// "NPM:github-history-slider",
			])}
		/>
	</table>

	<table>
		<Heading
			Text="Dotfile:"
			DarkIcon="https://raw.githubusercontent.com/jglovier/dotfiles-logo/master/dotfiles-logo-icon.png"
			AltIcon="Dotfile"
		/>
		<Row
			Packages={new Set<Cell>([
				"GitHub:NikolaRHristov/Dotfile",
				"GitHub:NikolaRHristov/NVIM",
				"GitHub:NikolaRHristov/Bash",
				"GitHub:NikolaRHristov/Powershell",
				"GitHub:NikolaRHristov/ZSH",
			])}
		/>
	</table>

	Generated from: <a
		href="https://github.com/NikolaRHristov/Website/blob/main/Source/pages/Raw/Readme/NikolaRHristov/index.astro"
		target="_blank">
		NikolaRHristov/Website/Source/pages/Raw/Readme/NikolaRHristov/index.astro
	</a>
</>
