---
import PackagesRow from "@Component/readmes/PackagesRow.astro";
import type { PackageCell } from "@Option/PackageCell.js";

const Packages = Astro.props["packages"] ?? new Map<string, Set<PackageCell>>();

Packages.set(
	"projects",
	new Set<PackageCell>([
		"github:astro-starters/pac-stac",
		"npm:files-pipe",
		"cargo:innkeeper",
		"github:NikolaRHristov/bench",
		"github:RoundedCorners/app",
	])
);

Packages.set(
	"astro",
	new Set<PackageCell>([
		"npm:astro-compress",
		"npm:astro-convert",
		"npm:astro-critters",
		"npm:astro-dashboard",
		"npm:astro-dead-links",
		"npm:astro-networks",
		"npm:astro-rome",
		"npm:astro-short-urls",
		"npm:astro-starter-template",
	])
);

Packages.set(
	"npm",
	new Set<PackageCell>(["npm:syclone", "npm:DeploymentDelete"])
);

Packages.set(
	"github",
	new Set<PackageCell>([
		"npm:@yesmaintenance/scripts",
		"npm:github-history-slider",
	])
);

Packages.set(
	"dotfiles",
	new Set<PackageCell>([
		"github:NikolaRHristov/dot",
		"github:NikolaRHristov/nvim",
		"github:NikolaRHristov/powershell",
		"github:NikolaRHristov/bash",
		"github:NikolaRHristov/zsh",
	])
);
---

<>
	<h1>
		<a href="https://holopin.io/@nikola" target="_blank"
			><img
				alt="@nikola's Holopin board"
				src="https://holopin.io/api/user/board?user=nikola"
			/>
		</a>
	</h1>

	<table>
		<tr>
			<td colspan="4">
				<h2>🔥 Projects</h2>
			</td>
		</tr>
		<PackagesRow packages={Packages.get("projects")} />
	</table>

	<table>
		<tr>
			<td colspan="4">
				<h2>
					<picture
						><source
							media="(prefers-color-scheme: dark)"
							srcset="https://raw.githubusercontent.com/ImageRepository/logos/main/.github/Image/logomark-dark.svg"
						/><source
							media="(prefers-color-scheme: light)"
							srcset="https://raw.githubusercontent.com/ImageRepository/logos/main/.github/Image/logomark-light.svg"
						/><img
							width="25"
							alt="Astro"
							src="https://raw.githubusercontent.com/ImageRepository/logos/main/.github/Image/logomark-light.svg"
						/>
					</picture> Astro
				</h2>
			</td>
		</tr>
		<PackagesRow packages={Packages.get("astro")} />
	</table>

	<table>
		<tr
			><td colspan="4">
				<h2>
					<picture
						><source
							media="(prefers-color-scheme: dark)"
							srcset="https://raw.githubusercontent.com/npm/logos/master/npm%20square/n.svg"
						/><source
							media="(prefers-color-scheme: light)"
							srcset="https://raw.githubusercontent.com/npm/logos/master/npm%20square/n.svg"
						/>
						<img
							src="https://raw.githubusercontent.com/npm/logos/master/npm%20square/n.svg"
							width="22"
						/></picture
					> NPM
				</h2>
			</td>
		</tr>
		<PackagesRow packages={Packages.get("npm")} />
	</table>

	<table>
		<tr
			><td colspan="4">
				<h2>
					<img
						src="https://raw.githubusercontent.com/jglovier/dotfiles-logo/master/dotfiles-logo-icon.png"
						width="16"
					/> Dotfiles
				</h2>
			</td>
		</tr>
		<PackagesRow packages={Packages.get("dotfiles")} />
	</table>

	<table>
		<tr>
			<td colspan="4">
				<h2>
					<picture
						><source
							media="(prefers-color-scheme: dark)"
							srcset="https://raw.githubusercontent.com/NikolaRHristov/NikolaRHristov/main/.github/Image/GitHub-Mark-Light-32px.png"
						/><source
							media="(prefers-color-scheme: light)"
							srcset="https://raw.githubusercontent.com/NikolaRHristov/NikolaRHristov/main/.github/Image/GitHub-Mark-32px.png"
						/><img
							width="25"
							alt="GitHub"
							src="https://raw.githubusercontent.com/NikolaRHristov/NikolaRHristov/main/.github/Image/GitHub-Mark-32px.png"
						/>
					</picture>GitHub
				</h2>
			</td>
		</tr>
		<PackagesRow packages={Packages.get("github")} />
	</table>

	<a href="https://app.daily.dev/nikolahristov" target="_blank"
		><img
			src="https://raw.githubusercontent.com/NikolaRHristov/NikolaRHristov/main/devcard.svg?rev=hs3VsNVqDK"
			width="400"
			alt="Nikola's Dev Card"
		/>
	</a>
</>
