---
import Cargo from "@Component/Readme/Heading/Cargo.astro";
import Row from "@Component/Readme/Row.astro";
---

<>
	<table>
		<Cargo />

		<Row
			Package={new Set([
				{
					"GitHub:CodeEditorLand/FoundationLandCargoDocument": {
						Name: "Document",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationLandCargoMaintain": {
						Name: "Maintain",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationLandCargoRuntime": {
						Name: "Runtime",
					},
				},
			])}
		/>
	</table>
</>
