---
import Cargo from "@Component/Readme/Heading/Cargo.astro";
import Row from "@Component/Readme/Row.astro";
---

<>
	<table>
		<Cargo />

		<Row
			Package={new Set([
				"GitHub:CodeEditorLand/FoundationLandDocument",
				"GitHub:CodeEditorLand/FoundationLandMaintain",
				"GitHub:CodeEditorLand/FoundationLandRuntime",
			])}
		/>
	</table>
</>
