---
import NPM from "@Component/Readme/Heading/NPM.astro";
import Row from "@Component/Readme/Row.astro";
---

<>
	<table>
		<NPM />

		<Row
			Package={new Set([
				"GitHub:CodeEditorLand/FoundationLandCommon",
				"GitHub:CodeEditorLand/FoundationLandIngress",
			])}
		/>
	</table>
</>
