---
const Heading = (await import("@Component/Readme/Heading.astro")).default;
const Row = (await import("@Component/Readme/Row.astro")).default;
---

<>
	<table>
		<Heading
			LightIcon="https://nikolahristov.tech/Image/GitHub/NPM-Logo.svg"
			DarkIcon="https://nikolahristov.tech/Image/GitHub/NPM-Logo.svg"
			Text="NPM:"
		/>

		<Row Package={new Set([])} />
	</table>

	<a
		href="https://fossa.app/projects/git%2Bgithub.com%2FCodeEditorLand%2FFoundationTauriNPM?ref=badge_large&issueType=license"
		><img
			src="https://fossa.app/api/projects/git%2Bgithub.com%2FCodeEditorLand%2FFoundationTauriNPM.svg?type=large&issueType=license"
			alt="FOSSA Status"
		/></a
	>
</>
