---
// import Heading from "@Component/Readme/Heading.astro";
import Row from "@Component/Readme/RowVertical.astro";
---

<>
	<table>
		<Row
			Packages={new Set([
				"GitHub:CodeEditorLand/NPMCommon",
				"GitHub:CodeEditorLand/NPMIngress",
			])}
		/>
	</table>
</>
