html {
	-webkit-tap-highlight-color: transparent;
}

html,
body {
	height: 100%;
}

body {
	@apply flex
		flex-grow
		flex-col
		tabular-nums
		text-black
		bg-white
		dark:bg-black
		dark:text-white
		antialiased
		sm:subpixel-antialiased;

	font-variant-ligatures: no-common-ligatures;
}

*::selection,
::selection {
	text-shadow: none;
	@apply bg-amber-400
		text-black;
}

@media (prefers-color-scheme: dark) {
	*::selection,
	::selection {
		@apply bg-white
			text-amber-400;
	}
}

img {
	@apply inline-block
		select-none
		align-top outline-none;
}
