---
import Layout from "@Layout/Base.astro";

import "@Stylesheet/Component/Article.css";
---

<Layout>
	<div class="flex flex-col">
		<main class="flex grow justify-center">
			<div class="flex grow self-center">
				<div class="container sm:pb-36">
					<article class="article">
						<p class="text-center">404 | Not Found.</p>
					</article>
				</div>
			</div>
		</main>
	</div>
</Layout>
