---
import Base from "@Layout/Base.astro";
---

<Base>
	<div class="flex h-full flex-col">
		<main class="flex grow justify-center">
			<div class="flex h-full grow self-center">
				<div class="container mt-16 bg-[#40367b] sm:pb-36">
					<div class="prose mx-auto flex place-content-center pb-80 pt-9">
						<h1
							class="inline-block overflow-hidden rounded-xl text-white [&>*]:inline-block [&>*]:leading-none">
							<span class="bg-[#527c8d]">N</span>
							<span class="bg-[#a9b5c5]">i</span>
							<span class="bg-[#527c8d]">k</span>
							<span class="bg-[#a9b5c5]">o</span>
							<span class="bg-[#527c8d]">l</span>
							<span class="bg-[#527c8d]">a</span>
							<span>&nbsp;</span>
							<span class="bg-[#a9b5c5]">H</span>
							<span class="bg-[#527c8d]">r</span>
							<span class="bg-[#527c8d]">i</span>
							<span class="bg-[#a9b5c5]">s</span>
							<span class="bg-[#527c8d]">t</span>
							<span class="bg-[#a9b5c5]">o</span>
							<span class="bg-[#527c8d]">v</span>
						</h1>
					</div>

					<div class="flex justify-center bg-[#527c8d]">
						<picture class="mx-8 inline-grid">
							<source
								srcset="/Image/Page/index/Rakuten.svg"
								media="(prefers-color-scheme: dark)"
							/>
							<img
								width="260"
								src="/Image/Page/index/Rakuten.svg"
								alt="Rakuten"
								loading="lazy"
							/>
						</picture>

						<picture class="mx-8 inline-grid">
							<source
								srcset="/Image/Page/index/Meta.svg"
								media="(prefers-color-scheme: dark)"
							/>
							<img
								width="260"
								src="/Image/Page/index/Meta.svg"
								alt="Meta"
								loading="lazy"
							/>
						</picture>

						<picture class="mx-8 inline-grid">
							<source
								srcset="/Image/Page/index/Discord.svg"
								media="(prefers-color-scheme: dark)"
							/>
							<img
								width="260"
								src="/Image/Page/index/Discord.svg"
								alt="Discord"
								loading="lazy"
							/>
						</picture>
					</div>

					<div class="grid grid-flow-col grid-cols-4">
						<div class="item">
							<div class="avatar">
								<picture>
									<source src="" />
								</picture>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</Base>
