---
const Base = (await import("@Layout/Base.astro")).default;
---

<Base>
	<div class="flex h-full flex-col">
		<main class="flex grow justify-center">
			<div class="flex h-full grow self-center">
				<div class="container mt-16 bg-[#40367b] pt-96 sm:pb-36">
					<div class="flex justify-center bg-[#527c8d]">
						<picture class="mx-8 inline-grid">
							<source
								srcset="/Image/Page/index/Rakuten.svg"
								media="(prefers-color-scheme: dark)"
							/>
							<img
								width="260"
								src="/Image/Page/index/Rakuten.svg"
								alt="Rakuten"
								loading="lazy"
							/>
						</picture>

						<picture class="mx-8 inline-grid">
							<source
								srcset="/Image/Page/index/Meta.svg"
								media="(prefers-color-scheme: dark)"
							/>
							<img
								width="260"
								src="/Image/Page/index/Meta.svg"
								alt="Meta"
								loading="lazy"
							/>
						</picture>

						<picture class="mx-8 inline-grid">
							<source
								srcset="/Image/Page/index/Discord.svg"
								media="(prefers-color-scheme: dark)"
							/>
							<img
								width="260"
								src="/Image/Page/index/Discord.svg"
								alt="Discord"
								loading="lazy"
							/>
						</picture>
					</div>

					<div class="grid grid-flow-col grid-cols-4">
						<div class="item">
							<div class="avatar">
								<picture>
									<source src="" />
								</picture>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</Base>
