---
import Base from "@Layout/Base.astro";
---

<Base>
	<div class="flex flex-col">
		<main class="flex grow justify-center">
			<div class="flex grow self-center">
				<div class="container mt-16 pt-96 sm:pb-36">
					<div class="flex justify-center">
						<picture class="mx-8 block">
							<source
								srcset="/Image/Page/index/rakuten-full.svg"
								media="(prefers-color-scheme: dark)"
							/>
							<img
								width="260"
								src="/Image/Page/index/rakuten-full.svg"
								alt="Rakuten Logo"
								loading="lazy"
							/>
						</picture>

						<picture class="mx-8 block">
							<source
								srcset="/Image/Page/index/meta-full.svg"
								media="(prefers-color-scheme: dark)"
							/>
							<img
								width="260"
								src="/Image/Page/index/meta-full.svg"
								alt="Meta Logo"
								loading="lazy"
							/>
						</picture>

						<picture class="mx-8 block">
							<source
								srcset="/Image/Page/index/discord-full.svg"
								media="(prefers-color-scheme: dark)"
							/>
							<img
								width="260"
								src="/Image/Page/index/discord-full.svg"
								alt="Discord Logo"
								loading="lazy"
							/>
						</picture>
					</div>

					<div class="grid grid-flow-col grid-cols-4">
						<div class="item">
							<div class="avatar">
								<picture>
									<source src="" />
								</picture>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</Base>
