---
interface Props {
	AltIcon?: string;
	DarkIcon?: string;
	Emoji?: string;
	LightIcon?: string;
	Text?: string;
}

let {
	AltIcon = null,
	DarkIcon = null,
	Emoji = null,
	LightIcon = null,
	Text = null,
} = Astro.props;

LightIcon = LightIcon ?? DarkIcon;
DarkIcon = DarkIcon ?? LightIcon;
---

<tr>
	<td colspan="4">
		<Fragment set:html={`<h3 align="center">`} />

		<span>
			
		<picture>
			{

				
				DarkIcon ? (
					<source
						media="(prefers-color-scheme: dark)"
						srcset={DarkIcon}
					/>
				) : (
					""
				)
			}

			{
				LightIcon ? (
					<source
						media="(prefers-color-scheme: light)"
						srcset={LightIcon}
					/>
				) : (
					""
				)
			}

			{
				LightIcon ? (
					<img width="28" alt={AltIcon ?? ""} src={LightIcon} />
				) : (
					""
				)
			}
		</picture>

		{Emoji}

		</span>

		{Text ?? ""}

		<br />

		<Fragment set:html={`</h3>`} />
	</td>
</tr>
