<tr>
	<td colspan="4">
		<center>
			<Fragment set:html={`<h3 align="center">`} />

			<picture
				><source
					media="(prefers-color-scheme: dark)"
					srcset="https://raw.githubusercontent.com/astro-community/AstroCompress/main/.github/Image/DarkAstro.svg"
				/><source
					media="(prefers-color-scheme: light)"
					srcset="https://raw.githubusercontent.com/astro-community/AstroCompress/main/.github/Image/LightAstro.svg"
				/><img
					width="28"
					alt="Astro"
					src="https://raw.githubusercontent.com/astro-community/AstroCompress/main/.github/Image/LightAstro.svg"
				/>
			</picture>
			<br />
			<br />
			Related
			<br />
			<br />

			<Fragment set:html={`</h3>`} />
		</center>
	</td>
</tr>
