<tr>
	<td colspan="4">
		<h2>
			<picture
				><source
					media="(prefers-color-scheme: dark)"
					srcset="https://raw.githubusercontent.com/astro-community/AstroCompress/main/.github/Image/DarkAstro.svg"
				/><source
					media="(prefers-color-scheme: light)"
					srcset="https://raw.githubusercontent.com/astro-community/AstroCompress/main/.github/Image/LightAstro.svg"
				/><img
					width="28"
					alt="Astro"
					src="https://raw.githubusercontent.com/astro-community/AstroCompress/main/.github/Image/LightAstro.svg"
				/>
			</picture><span>&nbsp;</span>Related
		</h2>
	</td>
</tr>
