---
const Heading = (await import("@Component/Readme/Heading.astro")).default;
const Row = (await import("@Component/Readme/Row.astro")).default;
---

<>
	<table>
		<Heading
			DarkIcon="https://raw.githubusercontent.com/Playform/CompressAstro/main/.github/Image/DarkAstro.svg"
			LightIcon="https://raw.githubusercontent.com/Playform/CompressAstro/main/.github/Image/LightAstro.svg"
			Text="Related:"
			AltIcon="Astro"
		/>

		<Row
			Package={new Set([
				{
					"NPM:@playform/compress-astro": {
						Name: "Compress",
					},
				},
				{
					"NPM:@playform/critters-astro": {
						Name: "Critters",
					},
				},
			])}
		/>
	</table>
</>
