html {
	-webkit-tap-highlight-color: transparent;
}

html,
body {
<<<<<<< HEAD
	@apply h-full
		w-full;
=======
	height: 100%;
>>>>>>> upstream/main
}

body {
	@apply flex
		flex-grow
		flex-col
<<<<<<< HEAD
		bg-white
		tabular-nums
		text-black
=======
>>>>>>> upstream/main
		antialiased
		dark:bg-black
		dark:text-white
		sm:subpixel-antialiased;
<<<<<<< HEAD

	font-variant-ligatures: no-common-ligatures;

	--swup-overlay-theme-color: white;
	--swup-overlay-theme-duration: 0.2s;
	--swup-overlay-theme-delay: 0s;
	--swup-overlay-theme-scale: 1.2;
	--swup-overlay-theme-skew: 0deg;
}

@media (prefers-color-scheme: dark) {
	body {
		--swup-overlay-theme-color: black;
	}
}

*::selection,
::selection {
	text-shadow: none;
	@apply bg-amber-400
		text-black;
}

@media (prefers-color-scheme: dark) {
	*::selection,
	::selection {
		@apply bg-white
			text-amber-400;
	}
=======
>>>>>>> upstream/main
}

img {
	@apply inline-block
		select-none
<<<<<<< HEAD
		align-top
		outline-none;
}

@media (min-width: 768px) {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 0.7777777777777778 !important;
		padding: 4px 0 !important;
	}
}
=======
		outline-none;
}
>>>>>>> upstream/main
