---
import Base from "@Layout/Base.astro";
import "github-markdown-css";

export const getStaticPaths = async () =>
	[
		"AstroBiome",
		"AstroCompress",
		"AstroCritters",
		"AstroRome",
		"CodeEditorLand",
		"CodeEditorLand/NPM",
		"CodeEditorLand/Environment",
		"CodeEditorLand/Cargo",
		"NikolaRHristov",
		"RoundedCorners",
	].map((Slug) => ({
		params: { Slug },
	}));

const Slug =
	typeof Astro.params["Slug"] === "string" ? Astro.params["Slug"] : "";

const Readme = (await import(`../Raw/Readme/${Slug}/index.astro`)).default;
---

<Base>
	<div class="container">
		<div class="markdown-body">
			<Readme />
		</div>
	</div>
</Base>
