---
import Base from "@Layout/Base.astro";
import "github-markdown-css";

export const getStaticPaths = async () =>
	[
		"AstroBiome",
		"AstroCompress",
		"AstroCritters",
		"AstroRome",
		"CodeEditorLand-Foundation",
		"CodeEditorLand-FoundationLand",
		"CodeEditorLand-FoundationLandCargo",
		"CodeEditorLand-FoundationLandNPM",
		
		"CodeEditorLand-FoundationOXC",
		"CodeEditorLand-FoundationOXCCargo",
		"CodeEditorLand-FoundationOXCNPM",

		"CodeEditorLand-FoundationTauri",
		"CodeEditorLand-FoundationTauriCargo",
		"CodeEditorLand-FoundationTauriNPM",
		// "CodeEditorLand-FoundationLandService",
		"NikolaRHristov",
		"RoundedCorners",
	].map((Slug) => ({
		params: { Slug },
	}));

const Slug =
	typeof Astro.params["Slug"] === "string" ? Astro.params["Slug"] : "";

const Readme = (await import(`../Raw/Readme/${Slug}/index.astro`)).default;
---

<Base>
	<div class="container">
		<div class="markdown-body">
			<Readme />
		</div>
	</div>
</Base>
