---
import Heading from "@Component/Readme/Heading.astro";
import Row from "@Component/Readme/Row.astro";
---

<>
	<table>
		<Heading
			LightIcon="https://nikolahristov.tech/Image/GitHub/Cargo-Logo-Small.png"
			DarkIcon="https://nikolahristov.tech/Image/GitHub/Cargo-Logo-Small.png"
			Text="Cargo:"
		/>

		<Row Package={new Set([])} />
	</table>

	<table>
		<Heading Emoji="🔩" Text="Service:" />

		<Row Package={new Set([])} />
	</table>
	<table>
		<Heading
			LightIcon="https://nikolahristov.tech/Image/GitHub/NPM-Logo.svg"
			DarkIcon="https://nikolahristov.tech/Image/GitHub/NPM-Logo.svg"
			Text="NPM:"
		/>

		<Row Package={new Set([])} />
	</table>

	<a
		href="https://fossa.app/projects/git%2Bgithub.com%2FCodeEditorLand%2FFoundationTauri?ref=badge_large&issueType=license"
		><img
			src="https://fossa.app/api/projects/git%2Bgithub.com%2FCodeEditorLand%2FFoundationTauri.svg?type=large&issueType=license"
			alt="FOSSA Status"
		/></a
	>
</>
