html {
	-webkit-tap-highlight-color: transparent;
}

html,
body {
	height: 100%;
}

body {
	@apply flex
		flex-grow
		flex-col
		text-black
		antialiased
		sm:subpixel-antialiased;
	font-variant-numeric: tabular-nums;
	font-variant-ligatures: no-common-ligatures;
}

*::selection,
::selection {
	text-shadow: none;
	@apply bg-amber-400
		text-black;
}

img {
	@apply inline-block
		select-none
		align-top outline-none;
}

@media (min-width: 768px) {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 0.7777777777777778 !important;
		padding: 4px 0 !important;
	}
}
