---
const Heading = (await import("@Component/Readme/Heading.astro")).default;
const Row = (await import("@Component/Readme/Row.astro")).default;
---

<>
	<table>
		<Heading
			LightIcon="https://nikolahristov.tech/Image/GitHub/Cargo-Logo-Small.png"
			DarkIcon="https://nikolahristov.tech/Image/GitHub/Cargo-Logo-Small.png"
			Text="Cargo:"
		/>

		<Row
			Package={new Set([
				{
					"GitHub:CodeEditorLand/FoundationLandCargoDocument": {
						Name: "Document",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationLandCargoMaintain": {
						Name: "Maintain",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationLandCargoRuntime": {
						Name: "Runtime",
					},
				},
			])}
		/>
	</table>

	<a
		href="https://fossa.app/projects/git%2Bgithub.com%2FCodeEditorLand%2FFoundationLandCargo?ref=badge_large&issueType=license"
		><img
			src="https://fossa.app/api/projects/git%2Bgithub.com%2FCodeEditorLand%2FFoundationLandCargo.svg?type=large&issueType=license"
			alt="FOSSA Status"
		/></a
	>
</>
