---
import RelatedHeader from "@components/readmes/RelatedHeader.astro";
import PackagesRow from "@components/readmes/PackagesRow.astro";

import type { packageCell } from "@options/packageCell.js";
---

<>
	<table>
		<RelatedHeader />
		<PackagesRow
			packages={new Set<packageCell>([
				"npm:astro-critters",
				"npm:astro-rome",
			])}
		/>
	</table>
</>
