---
import PackagesRow from "@components/readmes/PackagesRow.astro";
import RelatedHeader from "@components/readmes/RelatedHeader.astro";

import type { packageCell } from "@options/packageCell.js";

const packages = new Map<string, Set<packageCell>>();

packages.set(
	"astro-compress",
	new Set<packageCell>(["npm:astro-critters", "npm:astro-rome"])
);
---

<>
	<RelatedHeader />
	<table>
		<PackagesRow packages={packages.get("astro-compress")} />
	</table>
</>
