---
import PackagesRow from "@components/readmes/PackagesRow.astro";
import RelatedHeader from "@components/readmes/RelatedHeader.astro";
import type { CellPackage } from "@options/CellPackage.js";
---

<>
	<table>
		<RelatedHeader />
		<PackagesRow
			packages={new Set<CellPackage>([
				"npm:astro-critters",
				"npm:astro-rome",
			])}
		/>
	</table>
</>
