---
import Heading from "@Component/Readme/Heading.astro";
import Row from "@Component/Readme/Row.astro";
---

<>
	<table>
		<Heading
			LightIcon="HTTPS://NikolaHristov.Tech/Image/GitHub/Cargo-Logo-Small.png"
			DarkIcon="HTTPS://NikolaHristov.Tech/Image/GitHub/Cargo-Logo-Small.png"
			Text="Cargo:"
		/>
		<Row
			Packages={new Set([
				{
					"GitHub:CodeEditorLand/FoundationLandCargoDocument": {
						Name: "Document",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationLandCargoMaintain": {
						Name: "Maintain",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationLandCargoRuntime": {
						Name: "Runtime",
					},
				},
			])}
		/>
	</table>
</>
