---
import PackagesRow from "@Component/Readme/PackagesRow.astro";
import RelatedHeader from "@Component/Readme/RelatedHeader.astro";
import type { PackageCell } from "@Option/PackageCell.js";
---

<>
	<table>
		<RelatedHeader />
		<PackagesRow
			Packages={new Set<PackageCell>([
				"npm:astro-critters",
				"npm:astro-rome",
			])}
		/>
	</table>
</>
