---
import Heading from "@Component/Readme/Heading.astro";
import Row from "@Component/Readme/Row.astro";
---

<>
	<table>
		<Heading Emoji="🌄" Text="Code Editor Land:" />
		<Row
			Packages={new Set([
				"GitHub:CodeEditorLand/Foundation",
				"GitHub:CodeEditorLand/Editor",
				{
					"GitHub:CodeEditorLand/FoundationLandCargo": {
						Name: "Cargo",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationLandNPM": {
						Name: "NPM",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationLandComponent": {
						Name: "Component",
					},
				},
			])}
		/>
	</table>

	<table>
		<Heading
			LightIcon="https://nikolahristov.tech/Image/GitHub/Cargo-Logo-Small.png"
			DarkIcon="https://nikolahristov.tech/Image/GitHub/Cargo-Logo-Small.png"
			Text="Cargo:"
		/>
		<Row
			Packages={new Set([
				{
					"GitHub:CodeEditorLand/FoundationLandCargoDocument": {
						Name: "Document",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationLandCargoMaintain": {
						Name: "Maintain",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationLandCargoRuntime": {
						Name: "Runtime",
					},
				},
			])}
		/>
	</table>

	<table>
		<Heading
			LightIcon="https://nikolahristov.tech/Image/GitHub/Npm-logo.svg"
			DarkIcon="https://nikolahristov.tech/Image/GitHub/Npm-logo.svg"
			Text="NPM:"
		/>
		<Row
			Packages={new Set([
				{
					"GitHub:CodeEditorLand/FoundationLandNPMCommon": {
						Name: "Common",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationLandNPMIngress": {
						Name: "Ingress",
					},
				},
			])}
		/>
	</table>
</>
