---
import Heading from "@Component/Readme/Heading.astro";
import Row from "@Component/Readme/RowVertical.astro";
---

<>
	<table>
		<Heading Emoji="ðŸœï¸" Text="Land" />
		<Row
			Packages={new Set([
				"GitHub:CodeEditorLand/Land",
				// "GitHub:CodeEditorLand/ApplicationinsightsLand",
				// "GitHub:CodeEditorLand/AzureBoardsLand",
				// "GitHub:CodeEditorLand/AzureIotDeveloperKit",
				// "GitHub:CodeEditorLand/AzurePipelinesLand",
				// "GitHub:CodeEditorLand/AzureReposLand",
				// "GitHub:CodeEditorLand/AzureDatalakeToolsForLand",
				// "GitHub:CodeEditorLand/AzureStreamAnalyticsInLand",
				// "GitHub:CodeEditorLand/Codetour",
				// "GitHub:CodeEditorLand/ComposeLanguageService",
				// "GitHub:CodeEditorLand/DeoptexplorerLand",
				// "GitHub:CodeEditorLand/DevSkimLandPlugin",
				// "GitHub:CodeEditorLand/DstoolkitDevcontainers",
				// "GitHub:CodeEditorLand/Gnls",
				// "GitHub:CodeEditorLand/Linkcheckermd",
				// "GitHub:CodeEditorLand/MonacoEditor",
				// "GitHub:CodeEditorLand/NodeRequestLight",
				// "GitHub:CodeEditorLand/PlaywrightLand",
				// "GitHub:CodeEditorLand/PowerplatformLand",
				// "GitHub:CodeEditorLand/PowerplatformLandLab",
				// "GitHub:CodeEditorLand/PSDocsLand",
				// "GitHub:CodeEditorLand/PSRuleLand",
				// "GitHub:CodeEditorLand/Pvscbot",
				// "GitHub:CodeEditorLand/PythonSampleLandDjangoTutorial",
				// "GitHub:CodeEditorLand/PythonSampleLandFastapiTutorial",
				// "GitHub:CodeEditorLand/PythonSampleLandFlaskTutorial",
				// "GitHub:CodeEditorLand/SarifLandExtension",
				// "GitHub:CodeEditorLand/ScopestudioLand",
				// "GitHub:CodeEditorLand/SynapseLand",
				// "GitHub:CodeEditorLand/ThemeConverterForVs",
				// "GitHub:CodeEditorLand/TypeScriptLandExtensions",
				// "GitHub:CodeEditorLand/LandAnacondaExtensionPack",
				// "GitHub:CodeEditorLand/LandAnycode",
				// "GitHub:CodeEditorLand/LandApimanagement",
				// "GitHub:CodeEditorLand/LandAppcenter",
				// "GitHub:CodeEditorLand/LandArduino",
				// "GitHub:CodeEditorLand/LandAsa",
				// "GitHub:CodeEditorLand/LandAtomKeybindings",
				// "GitHub:CodeEditorLand/LandAutopep8",
				// "GitHub:CodeEditorLand/LandAzureAccount",
				// "GitHub:CodeEditorLand/LandAzureBlockchainEthereum",
				// "GitHub:CodeEditorLand/LandAzureFunctionsRemoteWebExtension",
				// "GitHub:CodeEditorLand/LandAzureIotEdge",
				// "GitHub:CodeEditorLand/LandAzureIotToolkit",
				// "GitHub:CodeEditorLand/LandAzureIotTools",
				// "GitHub:CodeEditorLand/LandAzurePack",
				// "GitHub:CodeEditorLand/LandAzureappservice",
				// "GitHub:CodeEditorLand/LandAzurearmtools",
				// "GitHub:CodeEditorLand/LandAzureAutomation",
				// "GitHub:CodeEditorLand/LandAzurecache",
				// "GitHub:CodeEditorLand/LandAzurecli",
				// "GitHub:CodeEditorLand/LandAzurecognitivesearch",
				// "GitHub:CodeEditorLand/LandAzurecontainerapps",
				// "GitHub:CodeEditorLand/LandAzureeventgrid",
				// "GitHub:CodeEditorLand/LandAzurefunctions",
				// "GitHub:CodeEditorLand/LandAzurehealthcareapisTools",
				// "GitHub:CodeEditorLand/LandAzurelogicapps",
				// "GitHub:CodeEditorLand/LandAzureresourcegroups",
				// "GitHub:CodeEditorLand/LandAzureserverlesspack",
				// "GitHub:CodeEditorLand/LandAzurespringcloud",
				// "GitHub:CodeEditorLand/LandAzurestaticwebapps",
				// "GitHub:CodeEditorLand/LandAzurestorage",
				// "GitHub:CodeEditorLand/LandAzuretools",
				// "GitHub:CodeEditorLand/LandAzurevirtualmachines",
				// "GitHub:CodeEditorLand/LandBackspace",
				// "GitHub:CodeEditorLand/LandBisect",
				// "GitHub:CodeEditorLand/LandBlackFormatter",
				// "GitHub:CodeEditorLand/LandBracketsKeybindings",
				// "GitHub:CodeEditorLand/LandBracketsPack",
				// "GitHub:CodeEditorLand/LandCdp",
				// "GitHub:CodeEditorLand/LandCdpProxy",
				// "GitHub:CodeEditorLand/LandChromeDebug",
				// "GitHub:CodeEditorLand/LandChromeDebugCore",
				// "GitHub:CodeEditorLand/LandCmakeTools",
				// "GitHub:CodeEditorLand/LandCmakeToolsApi",
				// "GitHub:CodeEditorLand/LandCodicons",
				// "GitHub:CodeEditorLand/LandComment",
				// "GitHub:CodeEditorLand/LandCopilotRelease",
				// "GitHub:CodeEditorLand/LandCordova",
				// "GitHub:CodeEditorLand/LandCosmosdb",
				// "GitHub:CodeEditorLand/LandCosmosdbgraph",
				// "GitHub:CodeEditorLand/LandCourseSample",
				// "GitHub:CodeEditorLand/LandCpptools",
				// "GitHub:CodeEditorLand/LandCpptoolsApi",
				// "GitHub:CodeEditorLand/LandCss",
				// "GitHub:CodeEditorLand/LandCssLanguageservice",
				// "GitHub:CodeEditorLand/LandCustomData",
				// "GitHub:CodeEditorLand/LandDapr",
				// "GitHub:CodeEditorLand/LandDataWrangler",
				// "GitHub:CodeEditorLand/LandDebugadapterNode",
				// "GitHub:CodeEditorLand/LandDeployAzure",
				// "GitHub:CodeEditorLand/LandDevChromeLauncher",
				// "GitHub:CodeEditorLand/LandDevContainers",
				// "GitHub:CodeEditorLand/LandDiagnosticTools",
				// "GitHub:CodeEditorLand/LandDiscussions",
				// "GitHub:CodeEditorLand/LandDocker",
				// "GitHub:CodeEditorLand/LandDockerExtensibility",
				// "GitHub:CodeEditorLand/LandDocs",
				// "GitHub:CodeEditorLand/LandDocsArchive",
				// "GitHub:CodeEditorLand/LandDocsAuthoring",
				// "GitHub:CodeEditorLand/LandDotnettools",
				// "GitHub:CodeEditorLand/LandDtdl",
				// "GitHub:CodeEditorLand/LandDts",
				// "GitHub:CodeEditorLand/LandDwarfDebugging",
				// "GitHub:CodeEditorLand/LandDwarfDebuggingExt",
				// "GitHub:CodeEditorLand/LandEdgeDebug",
				// "GitHub:CodeEditorLand/LandEdgeDebug2",
				// "GitHub:CodeEditorLand/LandEdgeDevtools",
				// "GitHub:CodeEditorLand/LandEdgeDevtoolsNetwork",
				// "GitHub:CodeEditorLand/LandEditorconfig",
				// "GitHub:CodeEditorLand/LandEmbeddedTools",
				// "GitHub:CodeEditorLand/LandEmmetHelper",
				// "GitHub:CodeEditorLand/LandEmmetLegacy",
				// "GitHub:CodeEditorLand/LandEslint",
				// "GitHub:CodeEditorLand/LandExplorerCommand",
				// "GitHub:CodeEditorLand/LandExtensionRecommender",
				// "GitHub:CodeEditorLand/LandExtensionSamples",
				// "GitHub:CodeEditorLand/LandExtensionTelemetry",
				// "GitHub:CodeEditorLand/LandExtensionTestRunner",
				// "GitHub:CodeEditorLand/LandExtensionLand",
				// "GitHub:CodeEditorLand/LandFigmaIcons",
				// "GitHub:CodeEditorLand/LandFigmaToolkit",
				// "GitHub:CodeEditorLand/LandFileDownloader",
				// "GitHub:CodeEditorLand/LandFileDownloaderApi",
				// "GitHub:CodeEditorLand/LandFilewatcherWindows",
				// "GitHub:CodeEditorLand/LandFlake8",
				// "GitHub:CodeEditorLand/LandGather",
				// "GitHub:CodeEditorLand/LandGeneratorCode",
				// "GitHub:CodeEditorLand/LandGeneratorCodeJavascript",
				// "GitHub:CodeEditorLand/LandGithubIssueNotebooks",
				// "GitHub:CodeEditorLand/LandGithubIssuesPrs",
				// "GitHub:CodeEditorLand/LandGithubTriageActions",
				// "GitHub:CodeEditorLand/LandGithubTriageExtension",
				// "GitHub:CodeEditorLand/LandGo",
				// "GitHub:CodeEditorLand/LandGradle",
				// "GitHub:CodeEditorLand/LandGrammarUpdater",
				// "GitHub:CodeEditorLand/LandGulpElectron",
				// "GitHub:CodeEditorLand/LandHexeditor",
				// "GitHub:CodeEditorLand/LandHtmlLanguageservice",
				// "GitHub:CodeEditorLand/LandHtmlhint",
				// "GitHub:CodeEditorLand/LandHtmltagwrap",
				// "GitHub:CodeEditorLand/LandHydrate",
				// "GitHub:CodeEditorLand/LandIcons",
				// "GitHub:CodeEditorLand/LandIconvLiteUmd",
				// "GitHub:CodeEditorLand/LandIosWebDebug",
				// "GitHub:CodeEditorLand/LandIotWorkbench",
				// "GitHub:CodeEditorLand/LandIsort",
				// "GitHub:CodeEditorLand/LandJavaDebug",
				// "GitHub:CodeEditorLand/LandJavaDependency",
				// "GitHub:CodeEditorLand/Landtestcover",
				// "GitHub:CodeEditorLand/LandJavaInstaller",
				// "GitHub:CodeEditorLand/LandJavaPack",
				// "GitHub:CodeEditorLand/LandJavaTest",
				// "GitHub:CodeEditorLand/LandJsAtomGrammar",
				// "GitHub:CodeEditorLand/LandJsDebug",
				// "GitHub:CodeEditorLand/LandJsDebugBrowsers",
				// "GitHub:CodeEditorLand/LandJsDebugCompanion",
				// "GitHub:CodeEditorLand/LandJsProfileVisualizer",
				// "GitHub:CodeEditorLand/LandJscs",
				// "GitHub:CodeEditorLand/LandJshint",
				// "GitHub:CodeEditorLand/LandJsonLanguageservice",
				// "GitHub:CodeEditorLand/LandJSON.tmLanguage",
				// "GitHub:CodeEditorLand/LandJupyter",
				// "GitHub:CodeEditorLand/LandJupyterCellTags",
				// "GitHub:CodeEditorLand/LandJupyterHub",
				// "GitHub:CodeEditorLand/LandJupyterIpywidgets",
				// "GitHub:CodeEditorLand/LandJupyterKeymap",
				// "GitHub:CodeEditorLand/LandJupyterLspMiddleware",
				// "GitHub:CodeEditorLand/LandJupyterPowertoys",
				// "GitHub:CodeEditorLand/LandJupyterSlideshow",
				// "GitHub:CodeEditorLand/LandJvmTools",
				// "GitHub:CodeEditorLand/LandL10n",
				// "GitHub:CodeEditorLand/LandLanguagedetection",
				// "GitHub:CodeEditorLand/LandLanguageserverNode",
				// "GitHub:CodeEditorLand/LandLanguageserverProtocolFoldingprovider",
				// "GitHub:CodeEditorLand/LandLaTeX",
				// "GitHub:CodeEditorLand/LandLinuxBuildAgent",
				// "GitHub:CodeEditorLand/LandLivepreview",
				// "GitHub:CodeEditorLand/LandLoader",
				// "GitHub:CodeEditorLand/LandLoc",
				// "GitHub:CodeEditorLand/LandLocDeprecated",
				// "GitHub:CodeEditorLand/LandLombok",
				// "GitHub:CodeEditorLand/LandLsifExtension",
				// "GitHub:CodeEditorLand/LandMakecode",
				// "GitHub:CodeEditorLand/LandMakefileTools",
				// "GitHub:CodeEditorLand/LandMarkdownItKatex",
				// "GitHub:CodeEditorLand/LandMarkdownLanguageservice",
				// "GitHub:CodeEditorLand/LandMarkdownNotebook",
				// "GitHub:CodeEditorLand/LandMarkdownTmGrammar",
				// "GitHub:CodeEditorLand/LandMaven",
				// "GitHub:CodeEditorLand/LandMDTools",
				// "GitHub:CodeEditorLand/LandMezzurite",
				// "GitHub:CodeEditorLand/LandMinimist",
				// "GitHub:CodeEditorLand/LandMockDebug",
				// "GitHub:CodeEditorLand/LandMongodb",
				// "GitHub:CodeEditorLand/LandMonoDebug",
				// "GitHub:CodeEditorLand/LandMssql",
				// "GitHub:CodeEditorLand/LandMypy",
				// "GitHub:CodeEditorLand/LandNls",
				// "GitHub:CodeEditorLand/LandNlsDev",
				// "GitHub:CodeEditorLand/LandNodeAzurePack",
				// "GitHub:CodeEditorLand/LandNodeDebug",
				// "GitHub:CodeEditorLand/LandNodeDebug2",
				// "GitHub:CodeEditorLand/LandNodeSqlite3",
				// "GitHub:CodeEditorLand/LandNodebook",
				// "GitHub:CodeEditorLand/LandNotebookErrorOverlay",
				// "GitHub:CodeEditorLand/LandNotebookRendererStarter",
				// "GitHub:CodeEditorLand/LandNotebookRenderers",
				// "GitHub:CodeEditorLand/LandNotebookTestdata",
				// "GitHub:CodeEditorLand/LandNotepadplusplusKeybindings",
				// "GitHub:CodeEditorLand/LandNpmScripts",
				// "GitHub:CodeEditorLand/LandOcticonsFont",
				// "GitHub:CodeEditorLand/LandOnedriveBrowser",
				// "GitHub:CodeEditorLand/LandOniguruma",
				// "GitHub:CodeEditorLand/LandOpensslPrebuilt",
				// "GitHub:CodeEditorLand/LandPerf",
				// "GitHub:CodeEditorLand/LandPerfBot",
				// "GitHub:CodeEditorLand/LandPlatformSpecificSample",
				// "GitHub:CodeEditorLand/LandPolicyWatcher",
				// "GitHub:CodeEditorLand/LandPostgresql",
				// "GitHub:CodeEditorLand/LandPowerquery",
				// "GitHub:CodeEditorLand/LandPowerquerySdk",
				// "GitHub:CodeEditorLand/LandProxyAgent",
				// "GitHub:CodeEditorLand/LandPullRequestGithub",
				// "GitHub:CodeEditorLand/LandPwaAnalyzer",
				// "GitHub:CodeEditorLand/LandPylint",
				// "GitHub:CodeEditorLand/LandPython",
				// "GitHub:CodeEditorLand/LandPythonDebugger",
				// "GitHub:CodeEditorLand/LandPythonDeviceSimulator",
				// "GitHub:CodeEditorLand/LandPythonDsExtensionPack",
				// "GitHub:CodeEditorLand/LandPythonInstaller",
				// "GitHub:CodeEditorLand/LandPythonToolsExtensionTemplate",
				// "GitHub:CodeEditorLand/LandPythonWebWasm",
				// "GitHub:CodeEditorLand/LandReactNative",
				// "GitHub:CodeEditorLand/LandReactSample",
				// "GitHub:CodeEditorLand/LandRecipes",
				// "GitHub:CodeEditorLand/LandReferencesView",
				// "GitHub:CodeEditorLand/LandRemoteRelease",
				// "GitHub:CodeEditorLand/LandRemoteRepositoriesGithub",
				// "GitHub:CodeEditorLand/LandRemoteTryCpp",
				// "GitHub:CodeEditorLand/LandRemoteTryDotnet",
				// "GitHub:CodeEditorLand/LandRemoteTryGo",
				// "GitHub:CodeEditorLand/LandRemoteTryJava",
				// "GitHub:CodeEditorLand/LandRemoteTryNode",
				// "GitHub:CodeEditorLand/LandRemoteTryPhp",
				// "GitHub:CodeEditorLand/LandRemoteTryPython",
				// "GitHub:CodeEditorLand/LandRemoteTryRust",
				// "GitHub:CodeEditorLand/LandRemoteTrySqlserver",
				// "GitHub:CodeEditorLand/LandRemoteWslRecommender",
				// "GitHub:CodeEditorLand/LandResharperKeybindings",
				// "GitHub:CodeEditorLand/LandRipgrep",
				// "GitHub:CodeEditorLand/LandRussh",
				// "GitHub:CodeEditorLand/LandSamples",
				// "GitHub:CodeEditorLand/LandSCMBuilders",
				// "GitHub:CodeEditorLand/LandSecretServiceRs",
				// "GitHub:CodeEditorLand/LandSelfhostTestProvider",
				// "GitHub:CodeEditorLand/LandSerialMonitor",
				// "GitHub:CodeEditorLand/LandServiceFabricReliableServices",
				// "GitHub:CodeEditorLand/LandServiceStatus",
				// "GitHub:CodeEditorLand/LandSimpleJupyterNotebook",
				// "GitHub:CodeEditorLand/LandSmoketestCheck",
				// "GitHub:CodeEditorLand/LandSmoketestExpress",
				// "GitHub:CodeEditorLand/LandSpellCheck",
				// "GitHub:CodeEditorLand/LandSpringBootDashboard",
				// "GitHub:CodeEditorLand/LandSpringInitializr",
				// "GitHub:CodeEditorLand/LandStac",
				// "GitHub:CodeEditorLand/LandSublimeKeybindings",
				// "GitHub:CodeEditorLand/LandTasAngular",
				// "GitHub:CodeEditorLand/LandTasExpress",
				// "GitHub:CodeEditorLand/LandTasVue",
				// "GitHub:CodeEditorLand/LandTeam",
				// "GitHub:CodeEditorLand/LandTelemetryExtractor",
				// "GitHub:CodeEditorLand/LandTensorboard",
				// "GitHub:CodeEditorLand/LandTest",
				// "GitHub:CodeEditorLand/LandTestAdapterConverter",
				// "GitHub:CodeEditorLand/LandTestCli",
				// "GitHub:CodeEditorLand/LandTestWeb",
				// "GitHub:CodeEditorLand/LandTextbuffer",
				// "GitHub:CodeEditorLand/LandTextmate",
				// "GitHub:CodeEditorLand/LandThemeColorConsumer",
				// "GitHub:CodeEditorLand/LandThemeTester",
				// "GitHub:CodeEditorLand/LandThemes",
				// "GitHub:CodeEditorLand/LandTipsAndTricks",
				// "GitHub:CodeEditorLand/LandTmdl",
				// "GitHub:CodeEditorLand/LandToolsForAi",
				// "GitHub:CodeEditorLand/LandTsPackageManager",
				// "GitHub:CodeEditorLand/LandTsTslint",
				// "GitHub:CodeEditorLand/LandTslint",
				// "GitHub:CodeEditorLand/LandTye",
				// "GitHub:CodeEditorLand/LandTypescriptNext",
				// "GitHub:CodeEditorLand/LandTypescriptTslintPlugin",
				// "GitHub:CodeEditorLand/LandUri",
				// "GitHub:CodeEditorLand/LandV8HeapTools",
				// "GitHub:CodeEditorLand/LandVsKeybindings",
				// "GitHub:CodeEditorLand/LandVsce",
				// "GitHub:CodeEditorLand/LandWasm",
				// "GitHub:CodeEditorLand/LandWebPlayground",
				// "GitHub:CodeEditorLand/LandWebviewUiToolkit",
				// "GitHub:CodeEditorLand/LandWebviewUiToolkitSamples",
				// "GitHub:CodeEditorLand/LandWiki",
				// "GitHub:CodeEditorLand/LandWin32AppContainerTokens",
				// "GitHub:CodeEditorLand/LandWindowsCaCerts",
				// "GitHub:CodeEditorLand/LandWindowsProcessTree",
				// "GitHub:CodeEditorLand/LandWindowsRegistry",
				// "GitHub:CodeEditorLand/LandWinsta11er",
				// "GitHub:CodeEditorLand/LandWordcount",
				// "GitHub:CodeEditorLand/LandZeromq",
				// "GitHub:CodeEditorLand/LandspacesQuickstart",
				// "GitHub:CodeEditorLand/DevSkim",
				// "GitHub:CodeEditorLand/TestBed",
				// "GitHub:CodeEditorLand/Oniguruma",
			])}
		/>
	</table>
</>
