---
import Heading from "@Component/Readme/Heading.astro";
import Row from "@Component/Readme/Row.astro";
---

<>
	<table>
		<Heading Emoji="📔" Text="Knowledge Base:" />
		<Row
			Packages={new Set([
				"GitHub:CodeEditorLand/KnowledgeBase",
				"GitHub:CodeEditorLand/Land",
				"GitHub:CodeEditorLand/Cargo",
				"GitHub:CodeEditorLand/NPM",
				"GitHub:CodeEditorLand/Stream",
			])}
		/>
	</table>
	<table>
		<Heading
			LightIcon="https://nikolahristov.tech/Image/GitHub/Cargo-Logo-Small.png"
			DarkIcon="https://nikolahristov.tech/Image/GitHub/Cargo-Logo-Small.png"
			Text="Cargo:"
		/>
		<Row
			Packages={new Set([
				{
					"GitHub:CodeEditorLand/CargoMaintain": {
						Name: "Maintain",
					},
				},
			])}
		/>
	</table>
	<table>
		<Heading
			LightIcon="https://nikolahristov.tech/Image/GitHub/Npm-logo.svg"
			DarkIcon="https://nikolahristov.tech/Image/GitHub/Npm-logo.svg"
			Text="NPM:"
		/>
		<Row
			Packages={new Set([
				{
					"GitHub:CodeEditorLand/NPMCommon": {
						Name: "Common",
					},
				},
				{
					"GitHub:CodeEditorLand/NPMIngress": {
						Name: "Ingress",
					},
				},
			])}
		/>
	</table>
</>
