---
// import Heading from "@Component/Readme/Heading.astro";
import Row from "@Component/Readme/RowVertical.astro";
---

<>
	<table>
		<Row
			Packages={new Set([
				"GitHub:CodeEditorLand/applicationinsights-vscode",
				"GitHub:CodeEditorLand/azure-boards-vscode",
				"GitHub:CodeEditorLand/azure-iot-developer-kit",
				"GitHub:CodeEditorLand/azure-pipelines-vscode",
				"GitHub:CodeEditorLand/azure-repos-vscode",
				"GitHub:CodeEditorLand/AzureDatalakeToolsForVSCode",
				"GitHub:CodeEditorLand/AzureStreamAnalyticsInVSCode",
				"GitHub:CodeEditorLand/CodeEditorLand",
				"GitHub:CodeEditorLand/codetour",
				"GitHub:CodeEditorLand/compose-language-service",
				"GitHub:CodeEditorLand/deoptexplorer-vscode",
				"GitHub:CodeEditorLand/DevSkim-VSCode-Plugin",
				"GitHub:CodeEditorLand/DevSkim",
				"GitHub:CodeEditorLand/dstoolkit-devcontainers",
				"GitHub:CodeEditorLand/gnls",
				"GitHub:CodeEditorLand/linkcheckermd",
				"GitHub:CodeEditorLand/monaco-editor",
				"GitHub:CodeEditorLand/node-request-light",
				"GitHub:CodeEditorLand/playwright-vscode",
				"GitHub:CodeEditorLand/powerplatform-vscode-lab",
				"GitHub:CodeEditorLand/powerplatform-vscode",
				"GitHub:CodeEditorLand/PSDocs-vscode",
				"GitHub:CodeEditorLand/PSRule-vscode",
				"GitHub:CodeEditorLand/pvscbot",
				"GitHub:CodeEditorLand/python-sample-vscode-django-tutorial",
				"GitHub:CodeEditorLand/python-sample-vscode-fastapi-tutorial",
				"GitHub:CodeEditorLand/python-sample-vscode-flask-tutorial",
				"GitHub:CodeEditorLand/sarif-vscode-extension",
				"GitHub:CodeEditorLand/scopestudio-vscode",
				"GitHub:CodeEditorLand/SynapseVSCode",
				"GitHub:CodeEditorLand/theme-converter-for-vs",
				"GitHub:CodeEditorLand/TypeScript-VSCode-Extensions",
				"GitHub:CodeEditorLand/vscode-anaconda-extension-pack",
				"GitHub:CodeEditorLand/vscode-anycode",
				"GitHub:CodeEditorLand/vscode-apimanagement",
				"GitHub:CodeEditorLand/vscode-appcenter",
				"GitHub:CodeEditorLand/vscode-arduino",
				"GitHub:CodeEditorLand/vscode-asa",
				"GitHub:CodeEditorLand/vscode-atom-keybindings",
				"GitHub:CodeEditorLand/vscode-autopep8",
				"GitHub:CodeEditorLand/vscode-azure-account",
				"GitHub:CodeEditorLand/vscode-azure-blockchain-ethereum",
				"GitHub:CodeEditorLand/vscode-azure-functions-remote-web-extension",
				"GitHub:CodeEditorLand/vscode-azure-iot-edge",
				"GitHub:CodeEditorLand/vscode-azure-iot-toolkit",
				"GitHub:CodeEditorLand/vscode-azure-iot-tools",
				"GitHub:CodeEditorLand/vscode-azure-pack",
				"GitHub:CodeEditorLand/vscode-azureappservice",
				"GitHub:CodeEditorLand/vscode-azurearmtools",
				"GitHub:CodeEditorLand/vscode-azureAutomation",
				"GitHub:CodeEditorLand/vscode-azurecache",
				"GitHub:CodeEditorLand/vscode-azurecli",
				"GitHub:CodeEditorLand/vscode-azurecognitivesearch",
				"GitHub:CodeEditorLand/vscode-azurecontainerapps",
				"GitHub:CodeEditorLand/vscode-azureeventgrid",
				"GitHub:CodeEditorLand/vscode-azurefunctions",
				"GitHub:CodeEditorLand/vscode-azurehealthcareapis-tools",
				"GitHub:CodeEditorLand/vscode-azurelogicapps",
				"GitHub:CodeEditorLand/vscode-azureresourcegroups",
				"GitHub:CodeEditorLand/vscode-azureserverlesspack",
				"GitHub:CodeEditorLand/vscode-azurespringcloud",
				"GitHub:CodeEditorLand/vscode-azurestaticwebapps",
				"GitHub:CodeEditorLand/vscode-azurestorage",
				"GitHub:CodeEditorLand/vscode-azuretools",
				"GitHub:CodeEditorLand/vscode-azurevirtualmachines",
				"GitHub:CodeEditorLand/vscode-backspace",
				"GitHub:CodeEditorLand/vscode-bisect",
				"GitHub:CodeEditorLand/vscode-black-formatter",
				"GitHub:CodeEditorLand/vscode-brackets-keybindings",
				"GitHub:CodeEditorLand/vscode-brackets-pack",
				"GitHub:CodeEditorLand/vscode-cdp-proxy",
				"GitHub:CodeEditorLand/vscode-cdp",
				"GitHub:CodeEditorLand/vscode-chrome-debug-core",
				"GitHub:CodeEditorLand/vscode-chrome-debug",
				"GitHub:CodeEditorLand/vscode-cmake-tools-api",
				"GitHub:CodeEditorLand/vscode-cmake-tools",
				"GitHub:CodeEditorLand/vscode-codicons",
				"GitHub:CodeEditorLand/vscode-comment",
				"GitHub:CodeEditorLand/vscode-copilot-release",
				"GitHub:CodeEditorLand/vscode-cordova",
				"GitHub:CodeEditorLand/vscode-cosmosdb",
				"GitHub:CodeEditorLand/vscode-cosmosdbgraph",
				"GitHub:CodeEditorLand/vscode-course-sample",
				"GitHub:CodeEditorLand/vscode-cpptools-api",
				"GitHub:CodeEditorLand/vscode-cpptools",
				"GitHub:CodeEditorLand/vscode-css-languageservice",
				"GitHub:CodeEditorLand/vscode-css",
				"GitHub:CodeEditorLand/vscode-custom-data",
				"GitHub:CodeEditorLand/vscode-dapr",
				"GitHub:CodeEditorLand/vscode-data-wrangler",
				"GitHub:CodeEditorLand/vscode-debugadapter-node",
				"GitHub:CodeEditorLand/vscode-deploy-azure",
				"GitHub:CodeEditorLand/vscode-dev-chrome-launcher",
				"GitHub:CodeEditorLand/vscode-dev-containers",
				"GitHub:CodeEditorLand/vscode-diagnostic-tools",
				"GitHub:CodeEditorLand/vscode-discussions",
				"GitHub:CodeEditorLand/vscode-docker-extensibility",
				"GitHub:CodeEditorLand/vscode-docker",
				"GitHub:CodeEditorLand/vscode-docs-archive",
				"GitHub:CodeEditorLand/vscode-docs-authoring",
				"GitHub:CodeEditorLand/vscode-docs",
				"GitHub:CodeEditorLand/vscode-dotnettools",
				"GitHub:CodeEditorLand/vscode-dtdl",
				"GitHub:CodeEditorLand/vscode-dts",
				"GitHub:CodeEditorLand/vscode-dwarf-debugging-ext",
				"GitHub:CodeEditorLand/vscode-dwarf-debugging",
				"GitHub:CodeEditorLand/vscode-edge-debug",
				"GitHub:CodeEditorLand/vscode-edge-debug2",
				"GitHub:CodeEditorLand/vscode-edge-devtools-network",
				"GitHub:CodeEditorLand/vscode-edge-devtools",
				"GitHub:CodeEditorLand/vscode-editorconfig",
				"GitHub:CodeEditorLand/vscode-embedded-tools",
				"GitHub:CodeEditorLand/vscode-emmet-helper",
				"GitHub:CodeEditorLand/vscode-emmet-legacy",
				"GitHub:CodeEditorLand/vscode-eslint",
				"GitHub:CodeEditorLand/vscode-explorer-command",
				"GitHub:CodeEditorLand/vscode-extension-recommender",
				"GitHub:CodeEditorLand/vscode-extension-samples",
				"GitHub:CodeEditorLand/vscode-extension-telemetry",
				"GitHub:CodeEditorLand/vscode-extension-test-runner",
				"GitHub:CodeEditorLand/vscode-extension-vscode",
				"GitHub:CodeEditorLand/vscode-figma-icons",
				"GitHub:CodeEditorLand/vscode-figma-toolkit",
				"GitHub:CodeEditorLand/vscode-file-downloader-api",
				"GitHub:CodeEditorLand/vscode-file-downloader",
				"GitHub:CodeEditorLand/vscode-filewatcher-windows",
				"GitHub:CodeEditorLand/vscode-flake8",
				"GitHub:CodeEditorLand/vscode-gather",
				"GitHub:CodeEditorLand/vscode-generator-code-javascript",
				"GitHub:CodeEditorLand/vscode-generator-code",
				"GitHub:CodeEditorLand/vscode-github-issue-notebooks",
				"GitHub:CodeEditorLand/vscode-github-issues-prs",
				"GitHub:CodeEditorLand/vscode-github-triage-actions",
				"GitHub:CodeEditorLand/vscode-github-triage-extension",
				"GitHub:CodeEditorLand/vscode-go",
				"GitHub:CodeEditorLand/vscode-gradle",
				"GitHub:CodeEditorLand/vscode-grammar-updater",
				"GitHub:CodeEditorLand/vscode-gulp-electron",
				"GitHub:CodeEditorLand/vscode-hexeditor",
				"GitHub:CodeEditorLand/vscode-html-languageservice",
				"GitHub:CodeEditorLand/vscode-htmlhint",
				"GitHub:CodeEditorLand/vscode-htmltagwrap",
				"GitHub:CodeEditorLand/vscode-hydrate",
				"GitHub:CodeEditorLand/vscode-icons",
				"GitHub:CodeEditorLand/vscode-iconv-lite-umd",
				"GitHub:CodeEditorLand/vscode-ios-web-debug",
				"GitHub:CodeEditorLand/vscode-iot-workbench",
				"GitHub:CodeEditorLand/vscode-isort",
				"GitHub:CodeEditorLand/vscode-java-debug",
				"GitHub:CodeEditorLand/vscode-java-dependency",
				"GitHub:CodeEditorLand/vscode-java-installer",
				"GitHub:CodeEditorLand/vscode-java-pack",
				"GitHub:CodeEditorLand/vscode-java-test",
				"GitHub:CodeEditorLand/vscode-js-atom-grammar",
				"GitHub:CodeEditorLand/vscode-js-debug-browsers",
				"GitHub:CodeEditorLand/vscode-js-debug-companion",
				"GitHub:CodeEditorLand/vscode-js-debug",
				"GitHub:CodeEditorLand/vscode-js-profile-visualizer",
				"GitHub:CodeEditorLand/vscode-jscs",
				"GitHub:CodeEditorLand/vscode-jshint",
				"GitHub:CodeEditorLand/vscode-json-languageservice",
				"GitHub:CodeEditorLand/vscode-JSON.tmLanguage",
				"GitHub:CodeEditorLand/vscode-jupyter-cell-tags",
				"GitHub:CodeEditorLand/vscode-jupyter-hub",
				"GitHub:CodeEditorLand/vscode-jupyter-ipywidgets",
				"GitHub:CodeEditorLand/vscode-jupyter-keymap",
				"GitHub:CodeEditorLand/vscode-jupyter-lsp-middleware",
				"GitHub:CodeEditorLand/vscode-jupyter-powertoys",
				"GitHub:CodeEditorLand/vscode-jupyter-slideshow",
				"GitHub:CodeEditorLand/vscode-jupyter",
				"GitHub:CodeEditorLand/vscode-jvm-tools",
				"GitHub:CodeEditorLand/vscode-l10n",
				"GitHub:CodeEditorLand/vscode-languagedetection",
				"GitHub:CodeEditorLand/vscode-languageserver-node",
				"GitHub:CodeEditorLand/vscode-languageserver-protocol-foldingprovider",
				"GitHub:CodeEditorLand/vscode-LaTeX",
				"GitHub:CodeEditorLand/vscode-linux-build-agent",
				"GitHub:CodeEditorLand/vscode-livepreview",
				"GitHub:CodeEditorLand/vscode-loader",
				"GitHub:CodeEditorLand/vscode-loc-deprecated",
				"GitHub:CodeEditorLand/vscode-loc",
				"GitHub:CodeEditorLand/vscode-lombok",
				"GitHub:CodeEditorLand/vscode-lsif-extension",
				"GitHub:CodeEditorLand/vscode-makecode",
				"GitHub:CodeEditorLand/vscode-makefile-tools",
				"GitHub:CodeEditorLand/vscode-markdown-it-katex",
				"GitHub:CodeEditorLand/vscode-markdown-languageservice",
				"GitHub:CodeEditorLand/vscode-markdown-notebook",
				"GitHub:CodeEditorLand/vscode-markdown-tm-grammar",
				"GitHub:CodeEditorLand/vscode-maven",
				"GitHub:CodeEditorLand/vscode-MDTools",
				"GitHub:CodeEditorLand/vscode-mezzurite",
				"GitHub:CodeEditorLand/vscode-minimist",
				"GitHub:CodeEditorLand/vscode-mock-debug",
				"GitHub:CodeEditorLand/vscode-mongodb",
				"GitHub:CodeEditorLand/vscode-mono-debug",
				"GitHub:CodeEditorLand/vscode-mssql",
				"GitHub:CodeEditorLand/vscode-mypy",
				"GitHub:CodeEditorLand/vscode-nls-dev",
				"GitHub:CodeEditorLand/vscode-nls",
				"GitHub:CodeEditorLand/vscode-node-azure-pack",
				"GitHub:CodeEditorLand/vscode-node-debug",
				"GitHub:CodeEditorLand/vscode-node-debug2",
				"GitHub:CodeEditorLand/vscode-node-sqlite3",
				"GitHub:CodeEditorLand/vscode-nodebook",
				"GitHub:CodeEditorLand/vscode-notebook-error-overlay",
				"GitHub:CodeEditorLand/vscode-notebook-renderer-starter",
				"GitHub:CodeEditorLand/vscode-notebook-renderers",
				"GitHub:CodeEditorLand/vscode-notebook-testdata",
				"GitHub:CodeEditorLand/vscode-notepadplusplus-keybindings",
				"GitHub:CodeEditorLand/vscode-npm-scripts",
				"GitHub:CodeEditorLand/vscode-octicons-font",
				"GitHub:CodeEditorLand/vscode-onedrive-browser",
				"GitHub:CodeEditorLand/vscode-oniguruma",
				"GitHub:CodeEditorLand/vscode-openssl-prebuilt",
				"GitHub:CodeEditorLand/vscode-perf-bot",
				"GitHub:CodeEditorLand/vscode-perf",
				"GitHub:CodeEditorLand/vscode-platform-specific-sample",
				"GitHub:CodeEditorLand/vscode-policy-watcher",
				"GitHub:CodeEditorLand/vscode-postgresql",
				"GitHub:CodeEditorLand/vscode-powerquery-sdk",
				"GitHub:CodeEditorLand/vscode-powerquery",
				"GitHub:CodeEditorLand/vscode-proxy-agent",
				"GitHub:CodeEditorLand/vscode-pull-request-github",
				"GitHub:CodeEditorLand/vscode-pwa-analyzer",
				"GitHub:CodeEditorLand/vscode-pylint",
				"GitHub:CodeEditorLand/vscode-python-debugger",
				"GitHub:CodeEditorLand/vscode-python-devicesimulator",
				"GitHub:CodeEditorLand/vscode-python-ds-extension-pack",
				"GitHub:CodeEditorLand/vscode-python-installer",
				"GitHub:CodeEditorLand/vscode-python-tools-extension-template",
				"GitHub:CodeEditorLand/vscode-python-web-wasm",
				"GitHub:CodeEditorLand/vscode-python",
				"GitHub:CodeEditorLand/vscode-react-native",
				"GitHub:CodeEditorLand/vscode-react-sample",
				"GitHub:CodeEditorLand/vscode-recipes",
				"GitHub:CodeEditorLand/vscode-references-view",
				"GitHub:CodeEditorLand/vscode-remote-release",
				"GitHub:CodeEditorLand/vscode-remote-repositories-github",
				"GitHub:CodeEditorLand/vscode-remote-try-cpp",
				"GitHub:CodeEditorLand/vscode-remote-try-dotnet",
				"GitHub:CodeEditorLand/vscode-remote-try-go",
				"GitHub:CodeEditorLand/vscode-remote-try-java",
				"GitHub:CodeEditorLand/vscode-remote-try-node",
				"GitHub:CodeEditorLand/vscode-remote-try-php",
				"GitHub:CodeEditorLand/vscode-remote-try-python",
				"GitHub:CodeEditorLand/vscode-remote-try-rust",
				"GitHub:CodeEditorLand/vscode-remote-try-sqlserver",
				"GitHub:CodeEditorLand/vscode-remote-wsl-recommender",
				"GitHub:CodeEditorLand/vscode-resharper-keybindings",
				"GitHub:CodeEditorLand/vscode-ripgrep",
				"GitHub:CodeEditorLand/vscode-russh",
				"GitHub:CodeEditorLand/vscode-samples",
				"GitHub:CodeEditorLand/vscode-SCMBuilders",
				"GitHub:CodeEditorLand/vscode-secret-service-rs",
				"GitHub:CodeEditorLand/vscode-selfhost-test-provider",
				"GitHub:CodeEditorLand/vscode-serial-monitor",
				"GitHub:CodeEditorLand/vscode-service-fabric-reliable-services",
				"GitHub:CodeEditorLand/vscode-service-status",
				"GitHub:CodeEditorLand/vscode-simple-jupyter-notebook",
				"GitHub:CodeEditorLand/vscode-smoketest-check",
				"GitHub:CodeEditorLand/vscode-smoketest-express",
				"GitHub:CodeEditorLand/vscode-spell-check",
				"GitHub:CodeEditorLand/vscode-spring-boot-dashboard",
				"GitHub:CodeEditorLand/vscode-spring-initializr",
				"GitHub:CodeEditorLand/vscode-stac",
				"GitHub:CodeEditorLand/vscode-sublime-keybindings",
				"GitHub:CodeEditorLand/vscode-tas-angular",
				"GitHub:CodeEditorLand/vscode-tas-express",
				"GitHub:CodeEditorLand/vscode-tas-vue",
				"GitHub:CodeEditorLand/vscode-team",
				"GitHub:CodeEditorLand/vscode-telemetry-extractor",
				"GitHub:CodeEditorLand/vscode-tensorboard",
				"GitHub:CodeEditorLand/vscode-test-adapter-converter",
				"GitHub:CodeEditorLand/vscode-test-cli",
				"GitHub:CodeEditorLand/vscode-test-web",
				"GitHub:CodeEditorLand/vscode-test",
				"GitHub:CodeEditorLand/vscode-textbuffer",
				"GitHub:CodeEditorLand/vscode-textmate",
				"GitHub:CodeEditorLand/vscode-theme-color-consumer",
				"GitHub:CodeEditorLand/vscode-theme-tester",
				"GitHub:CodeEditorLand/vscode-themes",
				"GitHub:CodeEditorLand/vscode-tips-and-tricks",
				"GitHub:CodeEditorLand/vscode-tmdl",
				"GitHub:CodeEditorLand/vscode-tools-for-ai",
				"GitHub:CodeEditorLand/vscode-ts-package-manager",
				"GitHub:CodeEditorLand/vscode-ts-tslint",
				"GitHub:CodeEditorLand/vscode-tslint",
				"GitHub:CodeEditorLand/vscode-tye",
				"GitHub:CodeEditorLand/vscode-typescript-next",
				"GitHub:CodeEditorLand/vscode-typescript-tslint-plugin",
				"GitHub:CodeEditorLand/vscode-uri",
				"GitHub:CodeEditorLand/vscode-v8-heap-tools",
				"GitHub:CodeEditorLand/vscode-vs-keybindings",
				"GitHub:CodeEditorLand/vscode-vsce",
				"GitHub:CodeEditorLand/vscode-wasm",
				"GitHub:CodeEditorLand/vscode-web-playground",
				"GitHub:CodeEditorLand/vscode-webview-ui-toolkit-samples",
				"GitHub:CodeEditorLand/vscode-webview-ui-toolkit",
				"GitHub:CodeEditorLand/vscode-wiki",
				"GitHub:CodeEditorLand/vscode-win32-app-container-tokens",
				"GitHub:CodeEditorLand/vscode-windows-ca-certs",
				"GitHub:CodeEditorLand/vscode-windows-process-tree",
				"GitHub:CodeEditorLand/vscode-windows-registry",
				"GitHub:CodeEditorLand/vscode-winsta11er",
				"GitHub:CodeEditorLand/vscode-wordcount",
				"GitHub:CodeEditorLand/vscode-zeromq",
				"GitHub:CodeEditorLand/vscode",
				"GitHub:CodeEditorLand/vscodespaces-quickstart",
				"GitHub:CodeEditorLand/vscodetestcover",
				"GitHub:CodeEditorLand/wil",
			])}
		/>
	</table>
</>
