---
import Heading from "@Component/Readme/Heading.astro";
import Row from "@Component/Readme/Row.astro";
---

<>
	<table>
		<Heading Emoji="ðŸœï¸" Text="Environment:" />
		<Row
			Packages={new Set([
				"GitHub:CodeEditorLand/Environment",
				"GitHub:CodeEditorLand/Land",
				"GitHub:CodeEditorLand/Cargo",
				"GitHub:CodeEditorLand/NPM",
			])}
		/>
	</table>
	<table>
		<Heading
			LightIcon="https://nikolahristov.tech/Image/GitHub/Cargo-Logo-Small.png"
			DarkIcon="https://nikolahristov.tech/Image/GitHub/Cargo-Logo-Small.png"
			Text="Cargo:"
		/>
		<Row Packages={new Set(["GitHub:CodeEditorLand/CargoMaintain"])} />
	</table>
	<table>
		<Heading
			LightIcon="https://nikolahristov.tech/Image/GitHub/Npm-logo.png"
			DarkIcon="https://nikolahristov.tech/Image/GitHub/Npm-logo.png"
			Text="NPM:"
		/>
		<Row
			Packages={new Set([
				"GitHub:CodeEditorLand/NPMCommon",
				"GitHub:CodeEditorLand/NPMIngress",
			])}
		/>
	</table>
</>
