---
import Heading from "@Component/Readme/Heading.astro";
import Row from "@Component/Readme/Row.astro";

const Readme = (
	await import("@Page/Raw/Readme/PlayForm/Compress/README.md")
).rawContent();
---

<>
	<table>
		<Heading
			DarkIcon="https://nikolahristov.tech/Dark/Image/GitHub/Astro.svg"
			LightIcon="https://nikolahristov.tech/Image/GitHub/Astro.svg"
			Text="— Related —"
			AltIcon="Astro"
		/>

		<Row
			Package={new Set(["NPM:@playform/inline", "NPM:@playform/format"])}
		/>
	</table>

	<Fragment set:html={Readme} />
</>
