---
import Heading from "@Component/Readme/Heading.astro";
import Row from "@Component/Readme/Row.astro";
---

<>
	<table>
		<Heading
			DarkIcon="https://raw.githubusercontent.com/RoundWindows/Application/main/src-tauri/src/Image/32x32.png"
			LightIcon="https://raw.githubusercontent.com/RoundWindows/Application/main/src-tauri/src/Image/32x32.png"
			Text="— Round —"
		/>

		<Row
			Package={new Set([
				"GitHub:RoundWindows/Application",
				"GitHub:RoundWindows/Website",
			])}
		/>
	</table>
</>
