---
const Heading = (await import("@Component/Readme/Heading.astro")).default;
const Row = (await import("@Component/Readme/Row.astro")).default;
---

<>
	<table>
		<Heading
			DarkIcon="https://raw.githubusercontent.com/RoundWindows/Application/main/src-tauri/src/Image/32x32.png"
			LightIcon="https://raw.githubusercontent.com/RoundWindows/Application/main/src-tauri/src/Image/32x32.png"
			Text="Round Windows:"
		/>

		<Row
			Package={new Set([
				"GitHub:RoundWindows/Application",
				"GitHub:RoundWindows/Website",
			])}
		/>
	</table>
</>
