---
import Heading from "@Component/Readme/Heading.astro";
import Row from "@Component/Readme/Row.astro";
---

<>
	<table>
		<Heading
			DarkIcon="HTTPS://Raw.GitHubUserContent.Com/RoundWindows/Application/main/src-tauri/src/Image/32x32.png"
			LightIcon="HTTPS://Raw.GitHubUserContent.Com/RoundWindows/Application/main/src-tauri/src/Image/32x32.png"
			Text="Round Windows:"
		/>
		<Row
			Packages={new Set([
				"GitHub:RoundWindows/Application",
				"GitHub:RoundWindows/Website",
			])}
		/>
	</table>
</>
