<h2>
	<picture
		><source
			media="(prefers-color-scheme: dark)"
			srcset="https://raw.githubusercontent.com/image-repository/logos/main/.github/img/logomark-dark.svg"
		/><source
			media="(prefers-color-scheme: light)"
			srcset="https://raw.githubusercontent.com/image-repository/logos/main/.github/img/logomark-light.svg"
		/><img
			width="28"
			alt="Astro"
			src="https://raw.githubusercontent.com/image-repository/logos/main/.github/img/logomark-light.svg"
		/>
	</picture>&nbsp;Related
</h2>
