---
import PackagesRow from "@Component/readmes/PackagesRow.astro";
import RelatedHeader from "@Component/readmes/RelatedHeader.astro";
import type { PackageCell } from "@Option/PackageCell.js";
---

<>
	<table>
		<RelatedHeader />
		<PackagesRow
			packages={new Set<PackageCell>([
				"npm:astro-critters",
				"npm:astro-rome",
			])}
		/>
	</table>
</>
