---
import Heading from "@Component/Readme/Heading.astro";
import Row from "@Component/Readme/Row.astro";
---

<>
	<table>
		<Heading
			DarkIcon="https://nikolahristov.tech/Image/GitHub/Biome.svg"
			LightIcon="https://nikolahristov.tech/Image/GitHub/Biome.svg"
			Text="Biome —"
		/>

		<Row
			Package={new Set([
				"GitHub:CodeEditorLand/DependencyBiome",
				"GitHub:CodeEditorLand/DependencyBiomeCargo",
				"GitHub:CodeEditorLand/DependencyBiomeNPM",
				"GitHub:CodeEditorLand/DependencyBiomeService",
			])}
		/>
	</table>
</>
