---
import Heading from "@Component/Readme/Heading.astro";
import Row from "@Component/Readme/Row.astro";
import Table from "@Component/Readme/Table.astro";

const { Open } = Astro.props;
---

<>
	<Table {Open}>
		<Heading
			DarkIcon="https://playform.cloud/Image/GitHub/OXC.svg"
			LightIcon="https://playform.cloud/Image/GitHub/OXC.svg"
			Text="OXC —"
		/>

		<Row
			Package={new Set([
				"GitHub:CodeEditorLand/DependencyOXC",
				"GitHub:CodeEditorLand/DependencyOXCCargo",
				"GitHub:CodeEditorLand/DependencyOXCNPM",
				"GitHub:CodeEditorLand/DependencyOXCService",
			])}
		/>
	</Table>
</>
