---
import Heading from "@Component/Readme/Heading.astro";
import Row from "@Component/Readme/Row.astro";
---

<>
	<table>
		<Heading
			DarkIcon="https://nikolahristov.tech/Glyph/Image/GitHub/Tauri.svg"
			LightIcon="https://nikolahristov.tech/Glyph/Image/GitHub/Tauri.svg"
			Text="— Tauri —"
		/>

		<Row
			Package={new Set([
				"GitHub:CodeEditorLand/DependencyTauri",
				"GitHub:CodeEditorLand/DependencyTauriCargo",
				"GitHub:CodeEditorLand/DependencyTauriNPM",
				"GitHub:CodeEditorLand/DependencyTauriService",
			])}
		/>
	</table>
</>
