---
import Heading from "@Component/Readme/Heading.astro";
import Row from "@Component/Readme/Row.astro";
import Table from "@Component/Readme/Table.astro";

const { Open } = Astro.props;
---

<>
	<Table {Open}>
		<Heading
			DarkIcon="https://playform.cloud/Glyph/Image/GitHub/Tauri.svg"
			LightIcon="https://playform.cloud/Glyph/Image/GitHub/Tauri.svg"
			Text="Tauri —"
		/>

		<Row
			Package={new Set([
				"GitHub:CodeEditorLand/DependencyTauri",
				"GitHub:CodeEditorLand/DependencyTauriCargo",
				"GitHub:CodeEditorLand/DependencyTauriNPM",
				"GitHub:CodeEditorLand/DependencyTauriService",
			])}
		/>
	</Table>
</>
