---
import Heading from "@Component/Readme/Heading.astro";
import Row from "@Component/Readme/Row.astro";
---

<>
	<table>
		<Heading
			LightIcon="HTTPS://NikolaHristov.Tech/Image/GitHub/NPM-Logo.svg"
			DarkIcon="HTTPS://NikolaHristov.Tech/Image/GitHub/NPM-Logo.svg"
			Text="NPM:"
		/>
		<Row
			Packages={new Set([
				{
					"GitHub:CodeEditorLand/FoundationLandNPMCommon": {
						Name: "Common",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationLandNPMIngress": {
						Name: "Ingress",
					},
				},
			])}
		/>
	</table>
</>
