---
import Heading from "@Component/Readme/Heading.astro";
import Row from "@Component/Readme/Row.astro";

const Readme = (
	await import("@Page/Raw/Readme/PlayForm/Round/README.md")
).rawContent();
---

<>
	<table>
		<Heading
			DarkIcon="https://nikolahristov.tech/Image/GitHub/Round/32x32.png"
			LightIcon="https://nikolahristov.tech/Image/GitHub/Round/32x32.png"
			Text="Round —"
		/>

		<Row
			Package={new Set([
				"GitHub:PlayForm/Round",
				"GitHub:RoundWindows/Website",
			])}
		/>
	</table>

	<Fragment set:html={Readme} />
</>
