---
import Row from "@Component/Readme/Package.astro";
import Header from "@Component/Readme/Related.astro";
import type { PackageCell } from "@Option/Cell.js";
---

<>
	<table>
		<Header />
		<Row
			Packages={new Set<PackageCell>([
				"NPM:astro-critters",
				"NPM:astro-rome",
			])}
		/>
	</table>
</>
