<header class="header">
	<div class="container flex justify-around flex-col">
		<div class="py-7 w-full"></div>
		<div class="bar"></div>
	</div>
</header>

<style is:global>
	@import "@styles/components/header.css";
</style>
