---
import Package from "@Component/Readme/Package.astro";
import type { PackageCell } from "@Option/Cell.js";
---

<>
	<table>
		<tr>
			<td colspan="4">
				<center>
					<Fragment set:html={`<h3 align="center">`} />

					<picture
						><source
							srcset="https://raw.githubusercontent.com/RoundedCorners/Application/main/src-tauri/src/Image/32x32.png"
						/><img
							width="32"
							alt="Astro"
							src="https://raw.githubusercontent.com/RoundedCorners/Application/main/src-tauri/src/Image/32x32.png"
						/>
					</picture>
					<br />
					<br />
					Rounded Corners
					<br />
					<br />

					<Fragment set:html={`</h3>`} />
				</center>
			</td>
		</tr>

		<Package
			Packages={new Set<PackageCell>([
				"GitHub:RoundedCorners/Application",
				"GitHub:RoundedCorners/Website",
			])}
		/>
	</table>
</>
