---
import PackagesRow from "@Component/readmes/PackagesRow.astro";
import RelatedHeader from "@Component/readmes/RelatedHeader.astro";
import type { PackageCell } from "@Option/PackageCell.js";
---

<>
	<RelatedHeader />
	<table>
		<PackagesRow
			Packages={new Set<PackageCell>([
				"npm:astro-compress",
				"npm:astro-critters",
			])}
		/>
	</table>
</>
