---
import type Cell from "@Type/Cell.js";

import Heading from "@Component/Readme/Heading.astro";
import Row from "@Component/Readme/Row.astro";
---

<>
	<h1>
		<a href="https://holopin.io/@nikola" target="_blank"
			><img
				alt="@nikola's Holopin board"
				src="https://holopin.io/api/user/board?user=nikola"
			/>
		</a>
	</h1>

	<table>
		<Heading Text="Project:" Emoji="🔥" />

		<Row
			Packages={new Set<Cell>([
				{
					"NPM:@playform/file-pipe": {
						Name: "File Pipe",
					},
				},
				{
					"NPM:delete-deployment": {
						Name: "Delete Deployment",
					},
				},
				{
					"cargo:innkeeper": {
						Name: "Inn",
					},
				},
				{
					"GitHub:RoundWindows/Application": {
						Name: "Round Windows",
					},
				},
			])}
		/>
	</table>

	<table>
		<Heading
			DarkIcon="https://nikolahristov.tech/Image/GitHub/Land-Logo.svg"
			LightIcon="https://nikolahristov.tech/Image/GitHub/Land-Logo.svg"
			Text="Land:"
		/>

		<Row
			Packages={new Set([
				"GitHub:CodeEditorLand/Foundation",
				"GitHub:CodeEditorLand/Editor",
				{
					"GitHub:CodeEditorLand/FoundationLandCargo": {
						Name: "Cargo",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationLandNPM": {
						Name: "NPM",
					},
				},
				{
					"GitHub:CodeEditorLand/FoundationLandService": {
						Name: "Service",
					},
				},
			])}
		/>
	</table>

	<table>
		<Heading
			AltIcon="Astro"
			DarkIcon="https://raw.githubusercontent.com/Playform/CompressAstro/main/.github/Image/DarkAstro.svg"
			LightIcon="https://raw.githubusercontent.com/Playform/CompressAstro/main/.github/Image/LightAstro.svg"
			Text="Astro:"
		/>

		<Row
			Packages={new Set<Cell>([
				{
					"NPM:@playform/biome-astro": {
						Name: "Biome",
					},
				},
				{
					"NPM:@playform/compress-astro": {
						Name: "Compress",
					},
				},
				{
					"NPM:@playform/critters-astro": {
						Name: "Critters",
					},
				},
				{
					"NPM:@playform/rome-astro": {
						Name: "Rome",
					},
				},
				{
					"GitHub:Playform/StarterTemplateAstro": {
						Name: "Starter Template",
					},
				},
			])}
		/>
	</table>

	<table>
		<Heading
			AltIcon="NPM"
			DarkIcon="https://raw.githubusercontent.com/npm/logos/master/npm%20square/n.svg"
			Text="NPM:"
		/>

		<Row
			Packages={new Set<Cell>([
				{
					"NPM:typescript-document": {
						Name: "TypeScript Document",
					},
				},
				{
					"NPM:typescript-esbuild": {
						Name: "TypeScript ESBuild",
					},
				},
			])}
		/>
	</table>

	<table>
		<Heading
			AltIcon="GitHub"
			DarkIcon="https://raw.githubusercontent.com/NikolaRHristov/NikolaRHristov/Current/.github/Image/GitHub-Mark-Light-32px.png"
			LightIcon="https://raw.githubusercontent.com/NikolaRHristov/NikolaRHristov/Current/.github/Image/GitHub-Mark-32px.png"
			Text="GitHub:"
		/>

		<Row
			Packages={new Set<Cell>([
				{
					"NPM:@yesmaintain/cli": {
						Name: "Maintain",
					},
				},
			])}
		/>
	</table>

	<table>
		<Heading
			AltIcon="Dotfile"
			DarkIcon="https://raw.githubusercontent.com/jglovier/dotfiles-logo/master/dotfiles-logo-icon.png"
			Text="Dotfile:"
		/>

		<Row
			Packages={new Set<Cell>([
				"GitHub:NikolaRHristov/Dotfile",
				"GitHub:NikolaRHristov/NVIM",
				"GitHub:NikolaRHristov/Bash",
				"GitHub:NikolaRHristov/Powershell",
				"GitHub:NikolaRHristov/ZSH",
			])}
		/>
	</table>

	Generated from: <a
		href="https://github.com/NikolaRHristov/Website/blob/main/Source/pages/Raw/Readme/NikolaRHristov/index.astro"
		target="_blank">
		NikolaRHristov/Website/Source/pages/Raw/Readme/NikolaRHristov/index.astro
	</a>
</>
