---
import Heading from "@Component/Readme/Heading.astro";
import Row from "@Component/Readme/Row.astro";
---

<>
	<table>
		<Heading
			DarkIcon="https://raw.githubusercontent.com/Playform/BiomeAstro/main/.github/Image/DarkAstro.svg"
			LightIcon="https://raw.githubusercontent.com/Playform/BiomeAstro/main/.github/Image/LightAstro.svg"
			Text="Related:"
			AltIcon="Astro"
		/>

		<Row
			Package={new Set([
				{
					"NPM:@playform/compress-astro": {
						Name: "Compress",
					},
				},
				{
					"NPM:@playform/critters-astro": {
						Name: "Critters",
					},
				},
			])}
		/>
	</table>
</>
