---
import Heading from "@Component/Readme/Heading.astro";
import Row from "@Component/Readme/Row.astro";
---

<>
	<table>
		<Heading
			DarkIcon="HTTPS://Raw.GitHubUserContent.Com/Playform/AstroCompress/main/.github/Image/DarkAstro.svg"
			LightIcon="HTTPS://Raw.GitHubUserContent.Com/Playform/AstroCompress/main/.github/Image/LightAstro.svg"
			Text="Related:"
			AltIcon="Astro"
		/>
		<Row
			Packages={new Set([
				{
					"NPM:astro-compress": {
						Name: "Compress",
					},
				},
				{
					"NPM:astro-critters": {
						Name: "Critters",
					},
				},
			])}
		/>
	</table>
</>
