---
import Heading from "@Component/Readme/Heading.astro";
import Row from "@Component/Readme/Row.astro";
import Table from "@Component/Readme/Table.astro";

const { Open } = Astro.props;
---

<>
	<Table {Open}>
		<Heading
			DarkIcon="https://playform.cloud/Dark/Image/GitHub/Land.svg"
			LightIcon="https://playform.cloud/Image/GitHub/Land.svg"
			Text="Land —"
		/>

		<Row
			Package={new Set([
				"GitHub:CodeEditorLand/Dependency",
				"GitHub:CodeEditorLand/DependencyLandCargo",
				"GitHub:CodeEditorLand/DependencyLandDependency",
				"GitHub:CodeEditorLand/DependencyLandNPM",
				"GitHub:CodeEditorLand/Echo",
				"GitHub:CodeEditorLand/EcoSystem",
				"GitHub:CodeEditorLand/Editor",
				"GitHub:CodeEditorLand/Element",
				"GitHub:CodeEditorLand/Mountain",
				"GitHub:CodeEditorLand/River",
				"GitHub:CodeEditorLand/Sky",
				"GitHub:CodeEditorLand/Sublet",
				"GitHub:CodeEditorLand/Sun",
				"GitHub:CodeEditorLand/Wind",
			])}
		/>
	</Table>
</>
