---
import GitHub from "@Asset/Image/Footer/GitHub.svg";
---

<footer class="Footer flex">
	<ul class="flex shrink flex-col justify-start sm:flex-row">
		<li>
			<a
				href="https://github.com/NikolaRHristov"
				target="_blank"
				rel="noopener noreferrer"
				class="icon flex">
				<picture>
					<source
						media="(prefers-color-scheme: light)"
						srcset={GitHub.src}
					/>
					<img alt="GitHub" src={GitHub.src} />
				</picture>
			</a>
		</li>
	</ul>
	<slot />
</footer>

<style is:global>
	@import "@Stylesheet/Component/Footer.css";
</style>
