---
import github from "@Asset/Images/footer/github.svg";
---

<footer class="footer flex">
	<ul class="flex shrink flex-col justify-start sm:flex-row">
		<li>
			<a
				href="https://github.com/NikolaRHristov"
				target="_blank"
				rel="noopener noreferrer"
				class="icon flex">
				<picture>
					<source
						media="(prefers-color-scheme: light)"
						srcset={github.src}
					/>
					<img alt="GitHub" src={github.src} />
				</picture>
			</a>
		</li>
	</ul>
	<slot />
</footer>

<style is:global>
	@import "@Style/Component/Footer.css";
</style>
