<header class="Header">
	<div class="container flex flex-col justify-around">
		<div class="w-full py-7"></div>
		<div class="bar"></div>
	</div>
</header>

<style is:global>
	@import "@Style/Component/Header.css";
</style>
