---
import Heading from "@Component/Readme/Heading.astro";
import Row from "@Component/Readme/Row.astro";
---

<>
	<table>
		<Heading
			DarkIcon="https://raw.githubusercontent.com/NikolaRHristov/AstroBiome/main/.github/Image/DarkAstro.svg"
			LightIcon="https://raw.githubusercontent.com/NikolaRHristov/AstroBiome/main/.github/Image/LightAstro.svg"
			Text="Related"
			AltIcon="Astro"
		/>
		<Row Packages={new Set(["NPM:astro-compress", "NPM:astro-critters"])} />
	</table>
</>
