---
import Dependency from "@Component/Readme/Heading/Dependency.astro";
import Row from "@Component/Readme/Row.astro";
---

<>
	<table>
		<Dependency />

		<Row
			Package={new Set([
				"GitHub:CodeEditorLand/ActionsNetlify",
				"GitHub:CodeEditorLand/AppRun",
				"GitHub:CodeEditorLand/Automation",
				"GitHub:CodeEditorLand/AwesomeTauri",
				"GitHub:CodeEditorLand/BenchMark_electron",
				"GitHub:CodeEditorLand/BenchMark_results",
				"GitHub:CodeEditorLand/BinaryReleases",
				"GitHub:CodeEditorLand/BoardVoter",
				"GitHub:CodeEditorLand/CargoMobile2",
				"GitHub:CodeEditorLand/CreatePullRequest",
				"GitHub:CodeEditorLand/CreateTauriApp",
				"GitHub:CodeEditorLand/Deno",
				"GitHub:CodeEditorLand/DnsAutomation",
				"GitHub:CodeEditorLand/DocusaurusMeilisearchIndexer",
				"GitHub:CodeEditorLand/Egui",
				"GitHub:CodeEditorLand/FixPathEnvRs",
				"GitHub:CodeEditorLand/GhTangleRelease",
				"GitHub:CodeEditorLand/Gipfs",
				"GitHub:CodeEditorLand/GirFiles",
				"GitHub:CodeEditorLand/GlobalHotkey",
				"GitHub:CodeEditorLand/Glutin",
				"GitHub:CodeEditorLand/GovernanceAndGuidance",
				"GitHub:CodeEditorLand/JavascriptcoreRs",
				"GitHub:CodeEditorLand/LibappindicatorRs",
				"GitHub:CodeEditorLand/LinuxdeployPluginGstreamer",
				"GitHub:CodeEditorLand/LinuxdeployPluginGtk",
				"GitHub:CodeEditorLand/Meetings",
				"GitHub:CodeEditorLand/MeilisearchDocsearch",
				"GitHub:CodeEditorLand/MsedgedriverManifestCache",
				"GitHub:CodeEditorLand/Muda",
				"GitHub:CodeEditorLand/NsisTauriUtils",
				"GitHub:CodeEditorLand/PluginsWorkspace",
				"GitHub:CodeEditorLand/Realworld",
				"GitHub:CodeEditorLand/Rfcs",
				"GitHub:CodeEditorLand/Rustdocusaurus",
				"GitHub:CodeEditorLand/RustIcns",
				"GitHub:CodeEditorLand/RustXcodePlugin",
				"GitHub:CodeEditorLand/SmokeTests",
				"GitHub:CodeEditorLand/Soup2Rs",
				"GitHub:CodeEditorLand/Tao",
				"GitHub:CodeEditorLand/Tauri",
				"GitHub:CodeEditorLand/Tauri.studio",
				"GitHub:CodeEditorLand/TauriAction",
				"GitHub:CodeEditorLand/TauriBindgen",
				"GitHub:CodeEditorLand/Tauricon",
				"GitHub:CodeEditorLand/TauriDialogRs",
				"GitHub:CodeEditorLand/TauriDiscordBot",
				"GitHub:CodeEditorLand/TauriDocs",
				"GitHub:CodeEditorLand/TauriEgui",
				"GitHub:CodeEditorLand/TauriForage",
				"GitHub:CodeEditorLand/TauriGithubBot",
				"GitHub:CodeEditorLand/TauriHotkeyRs",
				"GitHub:CodeEditorLand/TauriIncludedir",
				"GitHub:CodeEditorLand/TauriInliner",
				"GitHub:CodeEditorLand/TauriInlinerRs",
				"GitHub:CodeEditorLand/TauriInvokeHttp",
				"GitHub:CodeEditorLand/TauriLand",
				"GitHub:CodeEditorLand/TauriPluginApp",
				"GitHub:CodeEditorLand/TauriPluginAuthenticator",
				"GitHub:CodeEditorLand/TauriPluginAutostart",
				"GitHub:CodeEditorLand/TauriPluginCli",
				"GitHub:CodeEditorLand/TauriPluginClipboardManager",
				"GitHub:CodeEditorLand/TauriPluginDialog",
				"GitHub:CodeEditorLand/TauriPluginFs",
				"GitHub:CodeEditorLand/TauriPluginFsExtra",
				"GitHub:CodeEditorLand/TauriPluginFsWatch",
				"GitHub:CodeEditorLand/TauriPluginGlobalShortcut",
				"GitHub:CodeEditorLand/TauriPluginHttp",
				"GitHub:CodeEditorLand/TauriPluginLocalhost",
				"GitHub:CodeEditorLand/TauriPluginLog",
				"GitHub:CodeEditorLand/TauriPluginNotification",
				"GitHub:CodeEditorLand/TauriPluginOs",
				"GitHub:CodeEditorLand/TauriPluginPersistedScope",
				"GitHub:CodeEditorLand/TauriPluginPositioner",
				"GitHub:CodeEditorLand/TauriPluginProcess",
				"GitHub:CodeEditorLand/TauriPluginShell",
				"GitHub:CodeEditorLand/TauriPluginSingleInstance",
				"GitHub:CodeEditorLand/TauriPluginSql",
				"GitHub:CodeEditorLand/TauriPluginStore",
				"GitHub:CodeEditorLand/TauriPluginStronghold",
				"GitHub:CodeEditorLand/TauriPluginUpdater",
				"GitHub:CodeEditorLand/TauriPluginUpload",
				"GitHub:CodeEditorLand/TauriPluginWebsocket",
				"GitHub:CodeEditorLand/TauriPluginWindow",
				"GitHub:CodeEditorLand/TauriPluginWindowState",
				"GitHub:CodeEditorLand/TauriSearch",
				"GitHub:CodeEditorLand/TauriTheia",
				"GitHub:CodeEditorLand/TauriToml",
				"GitHub:CodeEditorLand/TauriWebpack",
				"GitHub:CodeEditorLand/TrayIcon",
				"GitHub:CodeEditorLand/TypedocPluginMarkdown",
				"GitHub:CodeEditorLand/Typedocusaurus",
				"GitHub:CodeEditorLand/VueCliPluginTauri",
				"GitHub:CodeEditorLand/Webkit2gtkRs",
				"GitHub:CodeEditorLand/WebView",
				"GitHub:CodeEditorLand/Win7Notifications",
				"GitHub:CodeEditorLand/WindowShadows",
				"GitHub:CodeEditorLand/WindowVibrancy",
				"GitHub:CodeEditorLand/Winit",
				"GitHub:CodeEditorLand/Winres",
				"GitHub:CodeEditorLand/WinrtNotification",
				"GitHub:CodeEditorLand/WorkflowTestbed",
				"GitHub:CodeEditorLand/Wry",
				"GitHub:CodeEditorLand/WryMobile",
				"GitHub:CodeEditorLand/ZsergeWebview",
			])}
		/>
	</table>
</>
